[2020-07-29 20:26] chrisjj opened #1 "Example .exe download fails"
"[Set up CI system to create desktop installer of vanilla Theia #5481](https://github.com/eclipse-theia/theia/issues/5481)" says

That offers

https://download.eclipse.org/theia/snapshots/windows/theia-Installer-1.2.0.exe

which here (Chrome browser) fails giving "Access Forbidden".

Note: I would contribute this report on the issue itself except someone has locked that issue to non-"contributors"

[2020-07-29 23:41] vince-fugnitto commented on #1
@thegecko it looks like the download links for the `linux appImage` and `windows exe` do not work at the moment, so it's just a heads up for now.

[2020-07-30 08:12] thegecko commented on #1
Thanks for highlighting it, it's probably a file permission setting I need to change before uploading the installers.

[2020-07-30 08:15] thegecko commented on #1
Umm, I just tried this myself and can download the files fine.

@chrisjj @vince-fugnitto Can you confirm your experiences?

[2020-07-30 09:42] chrisjj commented on #1
Thanks for the correction.

[2020-07-30 09:42] chrisjj commented on #1
Today it downloads fine. Perhaps someone fixed the permission.

[2020-07-30 09:48] thegecko commented on #1
Nothing has changed. Feel free to reopen this issue if there are further problems.

[2020-07-30 09:48] #1 closed

[2020-07-30 10:30] chrisjj commented on #1
Caching etc. means we never really know "nothing has changed".

[2020-08-18 14:10] jankeromnes opened #2 "Cannot run signed Theia binary after successful installation on MacOS"
### Bug Description:

I tried installing the new signed Theia binary on my Macbook Pro.

It installed successfully, but when I want to start Theia, it shows me this error message:

<img width="532" alt="Screenshot 2020-08-18 at 16 04 26" src="https://user-images.githubusercontent.com/599268/90523408-219f6300-e16d-11ea-927a-2c70cabdff31.png">

### Steps to Reproduce:

1. Go to https://download.ecli

[2020-08-18 14:27] vince-fugnitto commented on #2
@jankeromnes I transferred the issue to the following repository, as it is used to create the installers/tracks issues related to the downloads. I hope this is okay!

[2020-08-18 14:38] jankeromnes commented on #2
Aha, perfect, many thanks! 👍

[2020-08-25 11:17] brianking commented on #2
fyi you can bypass this and manually launch it by going into the macOS security settings.

https://support.apple.com/en-gb/guide/mac-help/mh40616/mac

[2020-09-08 16:24] christlee1989 opened #3 "NODE_MODULE_VERSION error"
### Bug Description:
when `yarn start`:
![image](https://user-images.githubusercontent.com/10151385/92501705-7d6f8000-f231-11ea-9e0c-94f124cb21a3.png)

when `yarn package:preview`:
![image](https://user-images.githubusercontent.com/10151385/92502565-aba18f80-f232-11ea-8f19-4ef91a406ef0.png)

### Steps to Reproduce:

1.clone this repo
2.exec `yarn`
3.exec `yarn start`

### Additional Information

-

[2020-09-08 16:34] vince-fugnitto commented on #3
@christlee1989 the fix is present in the next release (`1.6.0`) at the end of the month: https://github.com/eclipse-theia/theia/pull/8454.
For the moment, you can call your own script to rebuild the native electron dependencies to include `drivelist` instead of the following:

https://github.com/eclipse-theia/theia-example/blob/8ddf8cd2a84acd1e0f5de2a7a65e342f91631a11/package.json#L79

[2020-09-08 16:50] christlee1989 commented on #3
@vince-fugnitto  but I try to use theia version: `next` ,  and after `electron-rebuild` the drivelist recompile success， still error

[2020-09-08 17:01] vince-fugnitto commented on #3
I tried myself and it worked correctly (the application successfully started):
1. clone the repository
2. update all the theia dependencies to `next` instead of `^1.5.0` in the `package.json`
3. perform `yarn`
4. perform `yarn start`

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/92506345-4cf8f900-f1d3-11ea-86fc-583da4aab8ba.png)

</div>

[2020-09-08 17:37] christlee1989 commented on #3
@vince-fugnitto  why i still error  :(

![image](https://user-images.githubusercontent.com/10151385/92509513-f1635580-f23c-11ea-977b-2a1c1de6f54a.png)

[2020-09-08 17:39] christlee1989 commented on #3
@vince-fugnitto  my versions

![image](https://user-images.githubusercontent.com/10151385/92509730-4e5f0b80-f23d-11ea-986d-3af67cc472cf.png)

[2020-09-08 17:41] vince-fugnitto commented on #3
@christlee1989 you can perform a `git clean -ffdx` before you build, it's likely your `yarn.lock` is pinning the version of the theia extensions to a prior version? You can double check by verifying the version of `@theia` extension under `node_modules`.

For example, my `@theia/core` `package.json` version:

[code]

[2020-09-08 17:56] christlee1989 commented on #3
@vince-fugnitto  I removed yarn.lock before `yarn`

![image](https://user-images.githubusercontent.com/10151385/92511215-9aab4b00-f23f-11ea-8c14-af1d907c9041.png)

[2020-09-08 18:00] vince-fugnitto commented on #3
What is your most recent error? This is my `package.json` for reference:

[code]

[2020-09-09 02:21] christlee1989 commented on #3
@vince-fugnitto exactly the same

[2020-09-09 03:55] christlee1989 commented on #3
@vince-fugnitto  I try the https://github.com/theia-ide/theia-trace-extension , this no error, can you find some difference?

[2020-09-09 12:39] vince-fugnitto commented on #3
The `theia-trace-extension` includes a `yarn.lock` file which pins the `@theia` dependencies to `1.4.0`.
What exactly is your use-case, are you looking for an example on how to build your own application?

[2020-10-20 14:13] thegecko commented on #2
@jankeromnes We have now completed signing and notarization of the Theia example package which should resolve your issue.

Could you try the latest installers:

https://download.eclipse.org/theia/

[2020-10-20 14:18] benoitf commented on #2
there is no .dmg file ?

[2020-10-20 14:20] benoitf commented on #2
BTW clicking on the link try to display the binary content
![download-pkg](https://user-images.githubusercontent.com/436777/96599284-0af1c580-12f0-11eb-892a-933e0004702b.gif)

[2020-10-20 16:30] thegecko commented on #2
No, `.pkg` gives you much more control

Yes, this is an issue with the eclipse download site, patch pending:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=567922

[2020-11-26 21:51] koegel opened #5 "Define Theia default package for installer"
We need to define what to include in terms of extensions and plugins.

Initial suggestion:
- Edit, Launch and Debug JS, Typescript and Java Code
- Edit XML and JSON files with syntax highlighting
- Git Integration (Clone, push, pull, commit, checkout, diff)

In addition we could add some features to showcase the flexibility of the Theia platform:
- A code generator based on Xtend
- A textual edito

[2020-11-26 21:51] koegel commented on #5
We intend to work on this on behalf of ST Microelectronics

[2020-11-26 21:53] koegel opened #6 "Test installed instance"
We need to have some smoke/system tests for the installed instance to make sure it is properly working.

[2020-11-26 21:53] koegel commented on #6
We intend to work on this on behalf of ST Microelectronics

[2020-11-26 22:02] koegel opened #7 "Beautify download page"
The download page needs some love:
- A textual description what this is about: "Blueprint product to showcase Theia platform capabilities”
- Dropdown or similar to select OS
- Some graphics for the page and icons for the download links
- Collect download stats
- Link to this project for the sources
- Link how to report bugs
- Add download page link button to Theia landing page

Currently an initia

[2020-11-26 22:03] koegel commented on #7
We (EclipseSource) intend to contribute to this on behalf of ST Microelectronics.

[2020-11-26 22:23] koegel opened #8 "Announce Installer availability"
Messaging: Blueprint product to showcase Theia platform capabilities
- Blog Post
- Twitter: @ECDTools, @theia_ide
- Press release

Announce in stages:
- Alpha
- Beta
- Release

[2020-11-26 22:23] koegel commented on #8
We (EclipseSource) intend to contribute to this on behalf of ST Microelectronics.

[2020-11-26 22:32] koegel opened #9 "Add welcome page in instance"
Design a welcome page describing the purpose of the blueprint and some details:
- How to get the source code and/or contribute
- How to report bugs
- Quick intro to included functionality potentially with links to the functionality

Some image to make it less boring, e.g. half-transparent Theia logo in the background
From a technical perspective we have no limitations of how this may be customized

[2020-11-26 22:32] koegel commented on #9
We (EclipseSource) intend to work on implementing this on behalf of ST Microelectronics. Help with the design wanted.

[2020-11-26 22:37] koegel opened #10 "Design about dialog"
Design a proper about dialog with some text describing the purpose of the product (Blueprint product) and pointers to more information:

- Link to download page
- Link to Github project
- Link to report bugs
- Legal information and licenses.

Some graphics would make this dialog more appealing.

For reference this is the default about dialog:

![image2](https://user-images.githubusercontent.com/10

[2020-11-26 22:40] koegel commented on #10
We (EclipseSource) intend to work on the implementation of this on behalf of ST Microelectronics. Help for the design wanted.

[2020-11-26 22:43] koegel opened #11 "Image and Icon design"
We need icons and images for various other issues (e.g. https://github.com/eclipse-theia/theia-example/issues/9). This issue intends to collect all of them.

* Image for About Dialog/Welcome Page are dependent on the design we will use there. There are no restrictions/requirements from our side
* Windows Launcher Icon
  * File type	.ico
  * Dimension	Combination of:
    * 256 x 256 pixels  – 32bit

[2020-11-26 22:47] koegel commented on #11
Help for this issue wanted.

[2020-11-26 22:49] koegel opened #12 "Define Release process for installer"
Define how and when to release a new version of the installer and how this process is related to the Theia release process.

[2020-11-26 22:51] koegel opened #13 "Enable Updates for installed instances"
Installed instances should support in-place updates without having to re-download the installer and without re-installation.

[2020-11-26 22:51] koegel commented on #13
We (EclipseSource) are working on this on behalf of ST Microelectronics.

[2020-11-26 22:51] koegel commented on #12
We (EclipseSource) intend to work on this on behalf of ST Microelectronics.

[2020-11-26 22:54] koegel opened #14 "Enable and document customization"
Enable to customize this installer and document how to build installers for custom Theia-based products.

[2020-11-26 22:54] koegel commented on #14
We (EclipseSource) intend to work on this on behalf of ST Microelectronics.

[2020-11-27 01:26] vince-fugnitto commented on #3
Closing due to inactivity, and the issue was not reproduced.
Also mentioned a way forward https://github.com/eclipse-theia/theia-example/issues/3#issuecomment-689535929 if any issues are still present.

[2020-11-27 01:26] #3 closed

[2021-01-05 10:47] JonasHelming opened #19 "Define name for the Theia installer blue print product"
The name should indicate that the downloadable product is blue print/reference product to showcase the capabilities of Eclipse Theia. As a blue print product that serves two purposes:
1. A template to build custom products based on Theia (including an installer)
2. An easy way to consume the latest state of Theia as a desktop application (including an installer)

To indicate the purpose in the nam

[2021-01-05 10:48] JonasHelming commented on #19
We (EclipseSource) intend to contribute to this on behalf of ST Microelectronics.

@koegel

[2021-01-05 11:35] koegel commented on #19
I also discussed this with the Theia team in a call last year and their intention is to clearly state that this is (at least for now) not intended to be THE Theia product and also not intended to be a replacement for VS Code but rather an example product to showcase the capabilities of the Theia platform. Our team also agrees with this. We believe it is important to manage expectations, for an exa

[2021-01-07 21:20] koegel commented on #14
We are currently working on a GoogleDoc to create the documentation on how to customize the blueprint product to build installers for custom Theia-based products.

[2021-01-07 21:22] koegel commented on #5
The current product is configured so it can be used to edit, run and debug JavaScript, Typescript and Java code. We decided to aim for a product that contains all required features to be able to work on the Theia code-base.

[2021-01-07 21:24] koegel commented on #7
We are now starting to design a minimal page and are also looking into how to collect download stats.

[2021-01-07 21:25] koegel commented on #6
We are implementing an intial smoke test.

[2021-01-08 10:00] koegel commented on #12
We would like to make the following proposals, open for discussion, of course:

Release frequency: Once every quarter about 2 weeks after Theia release.
For example if Theia is released end of February a blueprint product version should become available mid of March.

Versioning: The installer always has the major version and minor version of the underlying Theia release. It might differ in the pa

[2021-01-08 10:00] koegel commented on #12
@thegecko: What do you think?

[2021-01-08 11:09] thegecko commented on #12
My concern here is how quickly Theia is being developed, it could take 3 Months for a feature to appear in the installers.

Is the proposed release cadence less frequent due to the overhead of doing it?

Apart from that it looks sensible.

[2021-01-08 11:19] koegel commented on #12
I agree this might be a concern. My view on this depends on what we want the product to be. If it is a blueprint for showing how to build Theia-based products (current scope to my understanding) then it is imho not that important to have all the current features as long as the setup still works. If we intend to build a VS Code alternative then it is very important to have all the latest features.

[2021-01-08 12:01] koegel commented on #14
We would like to contribute the documentation to the Theia webpage and opened an issue in the corresponding repo to discuss how and where to contribute it:
https://github.com/theia-ide/theia-website/issues/131

[2021-01-11 17:59] croundy commented on #11
I have submitted a request to the EF designer to create these icons

[2021-01-11 18:26] koegel commented on #11
The icon should be based on the Theia icon and transport that this is a template/blueprint for creating something based on Theia.
One idea we had could be something similar to this image:
https://www.flaticon.com/free-icon/blueprint_1373067
But instead of the drawings on the paper it would show the Theia icon.

Attribution: Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Fr

[2021-01-11 18:30] koegel commented on #11
For the images it could be something similar but showing more details. There is a nice larger image of the Theia logo that could work there:
![image](https://user-images.githubusercontent.com/1044916/104223095-7b1d6c80-5443-11eb-9d15-946538333796.png)

[2021-01-11 18:31] koegel commented on #11
Please involve us in the design process, so we can provide feedback, thanks!

[2021-01-11 18:44] koegel commented on #12
@thegecko OK, we are all set then, @jfaltermeier will take care to trigger the release in time, we can close this issue imho.

[2021-01-11 23:07] koegel opened #22 "Rename repo to theia-blueprint"
To align with the messaging and the name #19 the repository should also be renamed to theia-blueprint.

[2021-01-11 23:07] koegel commented on #22
@thegecko What do you think?

[2021-01-11 23:16] koegel commented on #9
We are currently defining a welcome page.

[2021-01-11 23:16] koegel commented on #10
We are currently designing an about dialiog.

[2021-01-12 08:07] thegecko commented on #22
No opinion really :)

[2021-01-12 08:46] koegel commented on #22
OK :). @jfaltermeier @JonasHelming What do you think?

[2021-01-12 08:48] koegel opened #23 "Update Readme of this repo"
Update the readme with some additional content:

- Add section on reporting feature requests and bugs
- Add pointer to download page
- Add pointer to customization documentation
- Add disclaimer on what it is and what it is not similar to welcome page

[2021-01-12 08:49] koegel commented on #23
We (EclipseSource) are working on this on behalf of ST Microelectronics.

[2021-01-12 08:49] koegel commented on #22
We (EclipseSource) are working on this on behalf of ST Microelectronics.

[2021-01-12 14:18] JonasHelming commented on #22
Yes, i think that would make sense, maybe even "theia-blueprint-product"

[2021-01-12 22:03] koegel commented on #22
OK, I think we should go for theia-blueprint then, can you rename the repo, @thegecko ? Does this require changes to the build?

[2021-01-13 09:38] thegecko commented on #22
No, in order to make this change, you need to raise an issue with Eclipse for `GitHub`:

https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Community

You'll also need to add the owner, @marcdumais-work is that you?

I also recommend you discuss this proposal at a [dev meeting](https://github.com/eclipse-theia/theia/wiki/Dev-Meetings) in case anyone objects.

It could do, again these changes need

[2021-01-13 21:27] koegel commented on #22
Good idea to discuss the proposal in the dev meeting, I will do this next Tuesday.

I guess we can only get access to CI for the project once we have committer status

[2021-01-14 11:55] #13 closed

[2021-01-18 10:32] jfaltermeier commented on #9
The current design may look like this:
![ksnip_20210118-105935](https://user-images.githubusercontent.com/5889696/104903813-c6bea180-5980-11eb-95a5-160e80214c60.png)

[2021-01-18 10:32] jfaltermeier commented on #10
The current design may look like this:
![ksnip_20210118-105947](https://user-images.githubusercontent.com/5889696/104903875-d8a04480-5980-11eb-9784-819d0bf1128f.png)

[2021-01-18 11:04] koegel commented on #23
We should also briefly document the release process, see #12

[2021-01-18 15:57] marcdumais-work commented on #9
@vince-fugnitto I think you've made the default framework welcome page - you might have feedback for the proposal here?

[2021-01-18 16:05] marcdumais-work commented on #22
Webmaster might ask a project lead to +1 the request. If so I can do it (let me know)

[2021-01-18 16:29] marcdumais-work commented on #22
That's my understanding as well. Same for getting write access to the GH repo's wiki, and certain other Eclipse Foundation privileges, like accessing a project's CQs.

[2021-01-18 16:51] marcdumais-work commented on #5
That's a very good start, and the list of "included by default" extensions can be enhanced at any time.

[2021-01-18 16:59] marcdumais-work commented on #5
As an enhancement you can consider including the full set of `vscode built-ins` (minus exceptions). Usually the Microsoft or 3rd party extensions will not re-implement features provided by built-ins. So you might e.g. have a user install the `MS python` extension, have LS support and other advanced features but no syntax highlight because the `vscode.python` extension, that provides the TExtmate g

[2021-01-18 17:00] marcdumais-work commented on #5
cc: @vince-fugnitto

[2021-01-18 17:26] marcdumais-work commented on #19
An additional related thing to do would be to use the chosen name in the app's `package.json` and in other relevant places. An important one is to use a custom "user level" configuration folder - ATM it uses the same we use for `theia` development, `<user's home>/.theia`.

[2021-01-18 17:28] marcdumais-work commented on #19
see: https://github.com/eclipse-theia/theia-example/blob/master/electron-app/scripts/theia-electron-main.js#L9 :
[code]

[2021-01-18 21:20] koegel opened #25 "Change name from theia example to theia blueprint in the code and the config files"
As also pointed out by @marcdumais-work in #19 we need to adapt the name in several places:
- git repo name: see #22
- packages
   - [Electron App](https://github.com/eclipse-theia/theia-example/blob/master/electron-app/package.json)
      - name: theia-blueprint
      - description: Eclipse Theia blueprint product
      - productName: Theia Blueprint
   - [Updater](https://github.com/eclipse-thei

[2021-01-18 21:20] koegel commented on #25
@jfaltermeier What is your take on this?

[2021-01-18 21:24] koegel commented on #19
Very good points, thank you! I opened an issue to track this, see #25

[2021-01-18 21:39] koegel commented on #5
Good point. How can we include all of them? Is there a list somewhere?

[2021-01-18 21:40] koegel commented on #22
OK, thanks!

[2021-01-18 23:00] marcdumais-work commented on #25
this is the only one I am not sure. If we might offer a packaged browser application from this repo in the future, we can consider keeping the name as-is, and adding a `browser-app` for the new one. An other option is to be a bit more verbose: ` blueprint-electron-app` and ` blueprint-browser-app`.

[2021-01-18 23:04] marcdumais-work commented on #5
No, I do not think so. I think we should have a way to list them. Would you open an issue on the `vscode-builtin-extensions` repo about this?

For a quick list, see the main repo's example app. The only thing is that their versions have not been updated in a while.
https://github.com/eclipse-theia/theia/blob/master/package.json#L86-L154

[2021-01-19 11:52] jfaltermeier commented on #25
Sounds good.
Besides the already mentioned places I don't see any other oversights atm.

[2021-01-19 15:00] lucas-koehler commented on #25
I like the suggested names. With the main value of this repository being the packaging and updating of the app, which are both electron specific, I think we can assume for now that there won't be a browser app. Or if there ever is, I think we can rename it then? What do you think @marcdumais-work ?

[2021-01-19 15:31] koegel commented on #25
Which suggested names do you refer to @lucas-koehler ?

[2021-01-19 15:33] koegel commented on #25
Good points, now I am even more undecided :)

[2021-01-19 15:54] lucas-koehler commented on #25
I'm referring to the folder names because they are used in the documentation to point users to files that they might want to customize.

[2021-01-19 17:18] koegel commented on #25
I know :). But which of the suggested names do you

[2021-01-19 21:00] koegel commented on #5
Ok, thanks.
And sure, I opened [an issue](https://github.com/theia-ide/vscode-builtin-extensions/issues/40).

[2021-01-19 21:04] koegel opened #26 "Add all vscode built-ins"
Adding all built-ins will improve compatibility with vscode extensions that are potentially installed by users. For a list see this [package.json](https://github.com/eclipse-theia/theia/blob/master/package.json#L86-L154).

This was an idea of @marcdumais-work, see comment [here](https://github.com/eclipse-theia/theia-example/issues/5#issuecomment-762369667_).

[2021-01-19 21:04] koegel commented on #5
To add all built-ins to blueprint I also created [an issue](https://github.com/eclipse-theia/theia-example/issues/26) separate from this one.

[2021-01-20 08:22] lucas-koehler commented on #25
I see :)
I like `blueprint-app` for the product package (currently in folder electron-app) and `blueprint-updater` for the extension.

I'm also not opposed to the extensive names suggested by @marcdumais-work but do not think they are necessary. Thus, I would rather rename in case this ever comes relevant, which we don't know yet.

[2021-01-20 08:38] koegel commented on #25
OK, clarified :). I would say we go with the names I proposed then.

[2021-01-20 08:38] koegel commented on #25
@jfaltermeier Can you please take care of the ticket

[2021-01-20 11:32] koegel opened #27 "Improvements for Welcome page and about dialog"
The `about dialog` is not responsive and does not display properly for smaller viewports.

The styling of the custom `getting-started` can be improved (especially when verifying responsiveness).

Use applicationName property rather than hardcoding "Theia Blueprint"

[2021-01-21 15:36] brianking commented on #19
At the Foundation a couple of weeks back we ideated on some names and ran them by @JonasHelming. Ultimately the decision was made to continue using Blueprint.

cc @croundy

[2021-01-21 15:37] brianking commented on #10
Does a document exist with the content? Would you like content to worked on in this issue, or in a separate one?

cc @croundy

[2021-01-21 15:40] brianking commented on #9
Does a document exist with the content for the Welcome page? Would you like content to worked on in this issue, or in a separate one?

cc @croundy

[2021-01-21 15:50] JonasHelming commented on #8
I will create a first draft for this

[2021-01-21 15:57] brianking commented on #7
If you have a draft of the content, we can pick it up and come up with some copy recommendations.

cc @croundy

[2021-01-21 21:58] koegel commented on #9
We have already transferred the document into [this PR](https://github.com/eclipse-theia/theia-example/pull/24). For improvements I suggest to open a new bug and describe the improvements there or even better to open a PR once the changes of the current PR are merged.

[2021-01-21 22:08] koegel commented on #19
OK, I think this ticket can be considered done, @JonasHelming Can you please close it.

[2021-01-21 22:09] koegel commented on #10
We have already transferred the document into [this PR](https://github.com/eclipse-theia/theia-example/pull/24). For improvements I suggest to open a new bug and describe the improvements there or even better to open a PR once the changes of the current PR are merged.

[2021-01-21 22:11] koegel commented on #7
A PR is already underway, see https://github.com/theia-ide/theia-website/pull/133.
For improvements I suggest to open a new bug and describe the improvements there or even better to open a PR once the changes of the current PR are merged.

[2021-01-21 22:42] #19 closed

[2021-01-22 17:38] brianking commented on #9
Thanks @koegel. We are more comfortable working in G Docs, so we'll pull the content out of here into a doc, make updates, and then bring it back here via a PR.

[2021-01-25 16:35] brianking commented on #11
We will have draft designs sometime this week.

[2021-01-25 21:43] koegel commented on #11
Ok, thanks!

[2021-01-26 17:19] #5 closed

[2021-01-26 17:19] #9 closed

[2021-01-26 17:19] #10 closed

[2021-01-26 17:36] brianking commented on #7
Is there a timeframe for the PR to be merged? We'll wait until then before we start our review.

[2021-01-26 21:18] koegel commented on #7
No, hopefully soon :)

[2021-01-28 23:57] #12 closed

[2021-01-28 23:59] koegel commented on #27
PR is merged

[2021-01-29 15:57] meKokabi commented on #11
Please find attached Theia Blueprint logo and icon design (3 options for each) Note: icons have consistency with their relevant logo. Please share your thoughts.
[BluePrint Logos and icons.pdf](https://github.com/eclipse-theia/theia-example/files/5894797/BluePrint.Logos.and.icons.pdf)

[2021-01-29 15:58] meKokabi commented on #11
<img width="846" alt="1" src="https://user-images.githubusercontent.com/75500459/106297676-f55e3700-6220-11eb-8f14-0a6c66255f1d.png">
<img width="844" alt="2" src="https://user-images.githubusercontent.com/75500459/106297679-f5f6cd80-6220-11eb-8932-bb1ce2168567.png">
<img width="844" alt="3" src="https://user-images.githubusercontent.com/75500459/106297681-f5f6cd80-6220-11eb-83f6-dd0a2b3b3146.png"

[2021-01-29 16:03] meKokabi commented on #9
Please find attached the welcome page design ( 3 options)
**Design Concept: Binary Codes - Broad Capabilities - Modern - Agile- Referencing Theia logo visual elements - Minimal - Bold**

<img width="769" alt="2A" src="https://user-images.githubusercontent.com/75500459/106297937-453cfe00-6221-11eb-9290-4cce39048598.png">
<img width="787" alt="Screen Shot 2021-01-29 at 8 08 13 AM" src="https://user-

[2021-01-29 16:06] meKokabi commented on #7
Please find attached the Download page design
Design Concept: Binary Codes - Modern - Dynamic - Referencing Theia's logo visual elements
<img width="697" alt="Screen Shot 2021-01-29 at 8 22 00 AM" src="https://user-images.githubusercontent.com/75500459/106298363-ce543500-6221-11eb-822d-01dd2f443ec2.png">
<img width="838" alt="Screen Shot 2021-01-29 at 8 25 10 AM" src="https://user-images.githubuse

[2021-01-29 16:09] meKokabi commented on #10
Please find attached the Download Page Design:
<img width="792" alt="C2" src="https://user-images.githubusercontent.com/75500459/106298850-6f42f000-6222-11eb-9218-d0c99105fe31.png">
<img width="788" alt="C1" src="https://user-images.githubusercontent.com/75500459/106298854-6f42f000-6222-11eb-95a1-8175263517e1.png">

[2021-01-29 16:22] MatthewKhouzam commented on #9
None of my business, is that the "oracle" font? are we allowed to use it?

[2021-01-29 18:55] MatthewKhouzam commented on #11
Just an idea. I am not an artist btw
![image](https://user-images.githubusercontent.com/419535/106314946-7b39ac80-6238-11eb-887f-413013964ccd.png)

background was taken from
https://pixy.org/6814405/

CC0, we are allowed to use it for commercial use.

[2021-01-29 20:37] koegel commented on #7
Thanks, but this does not match the design of the target page: https://theia-ide.org/
@jfaltermeier Can you please attach a screenshot of the current design of the download page?
IMHO: Everything is already done. Maybe you can only propose improvements and some graphics to be added. I suggest you take a look at the download page in the open PR or as shown in the screenshot Johannes will add. Thank

[2021-01-29 20:39] koegel commented on #10
Thanks, I guess this is the design for about dialog not for download page, right?

[2021-01-29 20:45] koegel commented on #10
DISLAIMER: Personal opinion ahead :)
First proposal: The graphic to me looks like a "digital product" stock photo which I cannot relate to Theia Blueprint
Second proposal: I can see the relation to the Theia logo but it looks a bit "shredded" to me
Both proposals: The font of "Theia" and maybe also "Blueprint" should match the font of "Theia" in the original logo.
I cannot really commit to any of

[2021-01-29 20:46] koegel commented on #10
Also: This issue is closed so please open a new issue with the proposals, e.g. "Improve about dialog"

[2021-01-29 20:46] meKokabi commented on #10
That's right! Sorry for confusion!

[2021-01-29 20:57] koegel commented on #7
Also, since the PR is already underway please open a separate issue (e.g. "Improve download page design"), thanks.

[2021-01-29 21:01] koegel commented on #9
DISLAIMER: Personal opinion ahead :)
First proposal: Looks OK to me, but I am not sure if it will look good with all the text on the graphic, since there is a lot of text, see screenshot of Johannes above.
Second proposal: The graphic to me looks like a "broadband" stock photo which I cannot relate to Theia Blueprint
Third  proposal: The graphic to me looks like a "digital product" stock photo whi

[2021-01-29 21:02] koegel commented on #9
Also: This issue is closed so please open a new issue with the proposals, e.g. "Improve welcome page design"

[2021-01-29 21:05] koegel commented on #11
DISLAIMER: Personal opinion ahead :)
None of the icons of the proposals of @meKokabi transports for me the idea of "blueprint". Please see my [previous comment](https://github.com/eclipse-theia/theia-example/issues/11#issuecomment-758137719) on this.

I cannot really commit to any of the proposals of @meKokabi , but I guess there is other opinions?

@jfaltermeier @JonasHelming @lucas-koehler What

[2021-01-29 21:07] koegel commented on #11
I really like this proposal, to me it transports the "blueprint" idea. It might not look good as small icon since the details might get lost. But it might be a great idea for a larger graphic for the about dialog, welcome page and download page.

[2021-01-29 23:13] vince-fugnitto commented on #11
@meKokabi are these the only proposals for the `eclipse theia blueprint` logo, and is it something that the community can vote upon?
Personally I'm not in favor of any of the proposals, and unfortunately they do not successfully represent the idea of "blueprint" as Maximilian previously expressed. We should aim to find a logo that fits the theme, and works well as a product.

[2021-01-29 23:18] vince-fugnitto commented on #9
@koegel @meKokabi what types of improvements were we thinking of including to the current welcome page design (besides possibly responsiveness)? I'm not sure that the proposals are improvements over #24, in fact the new proposals have less information and are rather unclear. We need to keep in mind that this is the first page users/adopters will see,  I'm not sure using stock images or graphics wi

[2021-01-29 23:51] croundy commented on #11
Just so everyone is on the same page here, these are initial design concepts meant to elicit feedback on directions that might work for the brand you want to create. From the comments I have seen so far, this group seems to have everything handled and isn't really looking for design help. If that is the case, we have plenty of other projects for Mehrnaz to work on and can leave it to you all to wr

[2021-01-30 12:00] JonasHelming opened #30 "Should we add actions to the welcome page"
Like the default welcome page provides (recent workspaces, open file, etc..)

![image](https://user-images.githubusercontent.com/1052615/106355877-2ca11680-62fb-11eb-81d1-13918c52a93b.png)

[2021-01-30 21:11] JonasHelming commented on #9
I actually share the main point the @vince-fugnitto is raising. I think it will be difficult to provide the information we want on with a lot of graphics in the background. Looking at any other IDE such as Eclipse, IntelliJ or VS Code, they all focus on simplicity, important information and first steps on their welcom page. Speaking of which, I opened https://github.com/eclipse-theia/theia-example

[2021-01-31 01:05] koegel commented on #11
My apologies if you feel my comments were not constructive. Let me elaborate on what I meant. I think all 3 proposed options are going in the entirely wrong direction and we need to start over. I had made [a comment](https://github.com/eclipse-theia/theia-example/issues/11#issuecomment-758137719) before this effort started what we are looking for and even provided a sketch. I am not sure @meKokabi

[2021-01-31 01:07] koegel commented on #7
Any further improvement efforts by @meKokabi are now pursued in #11.

[2021-01-31 01:07] koegel commented on #10
Any further improvement efforts by @meKokabi are now pursued in #11

[2021-01-31 01:09] koegel commented on #9
Any further improvement efforts by @meKokabi are now pursued in #11. I have made a proposal on how to continue addressing the comments of @vince-fugnitto and @JonasHelming on #11. Please comment on my proposal there.

[2021-01-31 01:13] koegel commented on #27
Closed by mistake

[2021-01-31 01:15] koegel commented on #9
Responsiveness and some other minor improvements are already tracked in #27. Also I fully agree with your assessment that this does not further improve the existing design. I therefore proposed a different approach in #11.

[2021-01-31 02:20] TheMatthew commented on #11
![image](https://user-images.githubusercontent.com/2235031/106372754-e8d10000-6340-11eb-9c95-23f8d46b0099.png)
Adding a scaled down blueprint image. So we can see how it looks low res.

[2021-01-31 18:59] koegel commented on #11
Thanks! I would keep the blue color, it makes the icon distinct from the Theia logo and underlines the blueprint idea. As an icon for the launcher I believe that it is not suitable in this form since the lines are too thin to be recognizable then. But I guess @meKokabi could work on something similar for the smaller icons that is still recognizable?

[2021-02-01 11:21] koegel commented on #7
I also opened a dedicated ticket on the website repo now: https://github.com/eclipse-theia/theia-website/issues/134

[2021-02-01 15:02] croundy commented on #11
@koegel Just to summarize and validate how to direct @meKokabi. At this point, you simply need her to create a logo with a blueprint pattern in the background and a solid blue icon (as the pattern will not show in the smaller formats).  No other design elements will be required at this time. Is this correct?

[2021-02-01 21:33] koegel commented on #11
Yes, no other design elements will be required. But it would be good to get more than one proposal for the logo and icon. Maybe she also has some ideas how to represent blueprint in a different way for the icon, e.g. something similar to this;
![image](https://user-images.githubusercontent.com/1044916/106520715-7ea19200-64dd-11eb-938c-a121020d324f.png)

[2021-02-01 21:45] croundy commented on #11
Got it....thanks
@koegel  for that feedback!

[2021-02-02 17:57] brianking opened #32 "Content Updates to About / Welcome"
@croundy and I have made a pass through the text and have some minor suggestions. The main one is not using the term 'Eclipse Theia Blueprint product' andf replacing it with just 'Eclipse Theia Blueprint'.

PR to follow.

[2021-02-03 08:07] jfaltermeier commented on #7
The current proposal for the download page looks like this (zoomed out to fit on screen):
![ksnip_20210203-090644](https://user-images.githubusercontent.com/5889696/106716790-2793de00-65ff-11eb-9e9b-564a32bdde15.png)

[2021-02-03 09:05] jfaltermeier commented on #26
We removed markdown-language-features for now, because the compatible version was removed from open-vsx.
Readd this as part of this task

[2021-02-03 11:40] koegel commented on #32
Thanks, sounds good to me, I already commented on the PR.

[2021-02-03 16:15] marcdumais-work commented on #26
I'm working on providing a working replacement for the markdown-language-features extension, and publishing it on open-vsx programmatically. See: https://github.com/eclipse-theia/vscode-builtin-extensions/issues/14#issuecomment-772627682

[2021-02-04 11:45] brianking commented on #22
Has this step happended?

[2021-02-04 12:42] kittaakos opened #35 "Theia electron installer on windows has a hard coded default path"
### Bug Description:

 - Download the installer from here https://download.eclipse.org/theia/1.9.1/windows/
 - Install
 - See the default path

![image](https://user-images.githubusercontent.com/1405703/106894088-c21f1a80-66ee-11eb-8f1a-887c5fd0c8a7.png)

### Steps to Reproduce:

1.
2.
3.

### Additional Information

- Operating System:
- Theia Version:

[2021-02-04 12:47] vince-fugnitto commented on #35
@kittaakos I transferred the issue to the `theia-example` repository, if it’s incorrect please let me know 👍

[2021-02-04 14:19] brianking opened #36 "Measure number of downloads"
This may already happen automatically for files hosted on Eclipse infrastructure, but I want to make sure we are aware of this and tracking from the start. It'll be one of the most important metrics on the success of the project.

[2021-02-04 14:22] brianking commented on #36
Related question, will releases still be listed on this page: https://download.eclipse.org/theia/

I know we will also have a download page on https://theia-ide.org.

[2021-02-04 14:29] waynebeaton commented on #36
Start [here](https://wiki.eclipse.org/IT_Infrastructure_Doc#Downloads).

[2021-02-04 14:34] brianking commented on #36
Thanks, linked therein is https://wiki.eclipse.org/Project_Download_Stats.

@thegecko Have we already been tracking?

[2021-02-04 16:14] marcdumais-work commented on #22
@koegel is correct - access to CI and ability to request project-related help is usually limited to project committers. I registered a quick bugzilla that should do the trick for the repo rename:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=570920

[2021-02-04 16:19] thegecko commented on #36
Not unless recorded by the eclipse download systems

That's where they are currently published, I'm not aware of any plan to change that.

Perhaps just redirect from there to https://download.eclipse.org/theia/?

[2021-02-04 17:38] brianking commented on #36
I propose we have buttons on the page that link directly to the latest versions of the installers.

Then we can perhaps have a 'See all versions' link that goes to https://download.eclipse.org/theia/

[2021-02-04 21:47] vince-fugnitto commented on #11
I'm not a designer 😄
I have the following design if interested, or it may spark other proposals:

| Proposal |
|:---:|
| ![theia-blueprint-paul2](https://user-images.githubusercontent.com/40359487/106958820-de7b8100-6707-11eb-9a8f-78f05c8417b4.png) |

[2021-02-04 21:49] MatthewKhouzam commented on #11
Looks good in 32x32
![image](https://user-images.githubusercontent.com/419535/106959667-facbed80-6708-11eb-90a3-55e483a41620.png)

[2021-02-04 22:00] koegel commented on #35
Thanks for reporting this, that needs to be fixed for the beta.

[2021-02-04 22:01] koegel commented on #22
@marcdumais-work Thank you!

[2021-02-05 08:42] koegel commented on #11
I think it looks good larger, but in 32x32 I find it hard to recognize.

[2021-02-05 08:44] koegel commented on #36
@jfaltermeier Can you please comment on this. We have addressed this as part of #7.

[2021-02-05 10:17] brianking commented on #11
There are a number of factors to take into account when creating an icon. Recently, for example, I find many don't work well in dark mode. I think simplicity is key, so details such as lines probably won't work.

https://www.toptal.com/designers/ui/icon-usability-and-design
https://www.smashingmagazine.com/2016/05/easy-steps-to-better-logo-design/

Personally I think we should leave it to the desi

[2021-02-05 10:43] jfaltermeier commented on #36
Right, so on the download page we will use links using the eclipse foundation's mirror redirector as mentioned here: https://wiki.eclipse.org/IT_Infrastructure_Doc#See_download_statistics.3F
https://wiki.eclipse.org/Project_Download_Stats
This is in place on the proposed download page

Regarding tracking updates we thought about hitting e.g. https://download.eclipse.org/theia/latest/latest.yml (or

[2021-02-05 15:32] marcdumais-work commented on #11
Yes, maybe a version with a bit more contrast between background and Theia logo would work better.

[2021-02-05 15:48] croundy commented on #11
Here are a few logo design options from Mehrnaz based on previous input from this group.
![TheiaBP Logo1](https://user-images.githubusercontent.com/72274403/107055676-c569e300-678e-11eb-8127-1be149b4b29b.png)
![TheiaBP Logo2](https://user-images.githubusercontent.com/72274403/107055684-c864d380-678e-11eb-97ca-f14bf6e77814.png)
![TheiaBP Logo3](https://user-images.githubusercontent.com/72274403/107

[2021-02-05 16:00] marcdumais-work commented on #11
Looking better I think. These are meant to be used with a light theme, correct? A version for dark theme of these new 3 could be useful. Also a smaller version , so we can see if we (or I at least) still like.

[2021-02-05 16:18] croundy commented on #11
@marcdumais-work Yes, I think the general assumption is that the theme/background will be lighter so that the logo will pop off the page better. If that is not going to be the case, we should probably look at a version that is mostly white, which may not have quite the same impact....or at least leave some generous white space towards the top of the page to accommodate a color logo.  I'm not a big

[2021-02-05 18:31] JonasHelming commented on #11
I think @marcdumais-work mentioned an important requirement here, the logo which is used on the welcome page should be ideally compatible with a dark and a bright theme, because you can actually switch themes in Theia. It won't be possible to design a logo that fits all themes (you can even install new ones), but at least the default bright and dark theme should look OK I guess. See this screensho

[2021-02-05 18:34] JonasHelming commented on #11
My order of preference for the proposals is:
I like the third one most
the first one will probably loose it in smaller versions
The second one I like the least (by far)

[2021-02-05 18:59] MatthewKhouzam commented on #11
I would argue that we should stick to "flat" so 3 or 1.

[2021-02-05 20:38] marcdumais-work commented on #26
`markdown-language-features` v1.39.2 has been re-published to `open-vsx.org`. You could re-add it for `Blueprint`

[2021-02-05 20:41] marcdumais-work commented on #22
The repo has been renamed.

The old URL will still work (automatic redirect), both in browsers and in git remotes. But it can be a good idea to refer to the new address when possible (e.g. git may warn about it).

[2021-02-05 20:41] #22 closed

[2021-02-05 23:32] koegel commented on #11
The proposals look good to me, I think we are back on track. I like the first and the third one with a preference for the first. It would be good to see the logos in their target environments to be able to better judge how well they fit:
- About Dialog (see #10)
- Welcome Page (see #9)
- Web page (see #7)
Also as Jonas pointed out we should make sure the logo looks good also in a bright theme in t

[2021-02-05 23:40] koegel commented on #11
Also about icon vs. logo: I think none of the presented alternatives works as an icon since the texture is lost and also the difference to the black original logo becomes difficult to spot especially for the third option:
![Selection_322](https://user-images.githubusercontent.com/1044916/107100074-921d6780-6813-11eb-8e48-70f1fe1e7c4d.png)
However I never meant to have the same image for the logo a

[2021-02-05 23:44] koegel commented on #11
What we could aim for is that the logo and icon share the same color. For this propose the color would have to be brighter imho. Maybe similar to the [proposal](https://github.com/eclipse-theia/theia-blueprint/issues/11#issuecomment-769986372) of @MatthewKhouzam
![106371768-a6231e00-6368-11eb-8244-a1224bb470ae](https://user-images.githubusercontent.com/1044916/107100308-3dc6b780-6814-11eb-9cf4-0af

[2021-02-06 01:12] croundy commented on #11
Agree...first step is to land on a logo and then we will have @meKokabi  work on a complementary icon.

[2021-02-06 12:05] TheMatthew commented on #11
@koegel @croundy
re: downscaling the logo. I would consider the logo to be two parts, the image and the mask, we don't need to downscale them at the same rate, as long as the essence is maintained.

[2021-02-07 19:20] koegel opened #38 "Start app after installation on windows"
As a last step the installer should offer to launch the installed app. This only applies for Windows.

[2021-02-07 19:20] koegel commented on #38
https://nsis.sourceforge.io/Run_an_application_shortcut_after_an_install

[2021-02-08 14:17] brianking opened #39 "Package Size Review"
On macOS, the package (.pkg) installer seems quite large - ~255MB and the space it takes on disk when installed is close to 700MB.

Can/Should it be slimmed down?

[2021-02-08 19:55] croundy commented on #11
Based on the feedback received from this group, here are a couple of logo option updates from @meKokabi, including how it would look with a black background.

<img width="1147" alt="Logo_Option_A" src="https://user-images.githubusercontent.com/72274403/107273331-218d6b00-6a0c-11eb-859f-2f940b9cdcec.png">
<img width="1122" alt="Logo_Option_B" src="https://user-images.githubusercontent.com/72274403/

[2021-02-08 21:43] koegel commented on #39
The Windows installer (200 MB) and the Linux package (183 MB) are not significantly smaller. Also when I compare this to an Eclipse IDE package this does not strike me as unexpected.

[2021-02-08 21:52] koegel commented on #11
Option A looks really good imho and also works great on a dark background. Option B does not work equally well on the dark background but is also good. I have a preference for option A since it somehow looks more modern and "fresher" to me but I do not object to option B.

[2021-02-08 21:53] koegel commented on #11
Also thank you to @meKokabi @croundy for driving this forward, I think we are on a good track now.

[2021-02-08 21:54] marcdumais-work commented on #39
Can someone confirm whether the app is built in production mode, when packaged?
It does not look like it's the case by default, though it's easy to do it in the CI environment with an extra `yarn build --production`:
https://github.com/eclipse-theia/theia-blueprint/blob/master/electron-app/package.json#L83

If not this could save a bit of space, removing `dev-dependencies` and optionally the `map`

[2021-02-08 21:54] MatthewKhouzam commented on #11
These are very nice! I would like to know if we are allowed to use the "blueprint" mask underneath. I like the color of A but the layout of B.

Thanks everyone for making things pretty.

[2021-02-08 21:57] koegel commented on #11
I agree with that, I also like the layout of option B better.

[2021-02-08 23:42] croundy commented on #11
@MatthewKhouzam  I'm not sure I understand what you mean by "Blueprint Mask." Please clarify your question

[2021-02-08 23:52] vince-fugnitto commented on #11
@croundy I believe Matthew is referring to if we are allowed to use the blueprint image within the Theia logo (free to use, permissive license, etc.).

[2021-02-09 00:38] croundy commented on #11
@MatthewKhouzam @vince-fugnitto we will license whatever image is used so there is no issue.

[2021-02-09 12:38] jfaltermeier opened #41 "GLIBC on build machine too recent for Ubuntu 18.04 LTS"
### Bug Description:
When starting the AppImage on Ubuntu 18.04 we get this error:
[code]

### Steps to Reproduce:

1. Start the AppImage on Ubuntu 18.04 LTS

[2021-02-09 12:41] jfaltermeier commented on #41
As far as I could see using `FROM node:12.19.0-stretch` instead of  `FROM node:12.19.0-buster` in https://github.com/eclipse-theia/theia-blueprint/blob/master/Dockerfile should work.
@thegecko Is there a dependency to buster or can we use stretch on the Build-Server for building the Linux related bits?

[2021-02-09 12:42] thegecko commented on #41
not AFAIK

[2021-02-09 15:10] croundy commented on #11
OK, here's the logo option A with layout B. Unless any additional concerns/questions/issues, we will consider this final and start work on a complementary icon.

<img width="1208" alt="TheiaBP Logo Final" src="https://user-images.githubusercontent.com/72274403/107383227-05daa100-6aae-11eb-87bd-4f2d873fae54.png">

[2021-02-09 16:17] marcdumais-work commented on #41
On which OS was the `AppImage` built? More recent than Ubuntu 18.04?

`AppImage` is a very useful format, but it has its limitations. Practically I find that what's more likely to work is to build the `AppImage` on the oldest OS possible, so as not to depend on anything that will not be present, if you attempt to run it on an older machine.

Example: I have two machines:
1- Ubuntu 20.04
2- RHEL/Ce

[2021-02-12 00:36] koegel commented on #39
@jfaltermeier Can you please take a look?

[2021-02-12 00:38] koegel commented on #32
@brianking Issue can be closed, right? If so please go ahead and close the issue. Thanks!

[2021-02-12 00:40] koegel commented on #2
I guess this issue can be closed, @thegecko?

[2021-02-12 00:41] koegel commented on #36
This is not done yet, is it?

[2021-02-12 06:21] #2 closed

[2021-02-12 09:29] #6 closed

[2021-02-12 17:23] #32 closed

[2021-02-16 15:34] croundy commented on #11
here are a few draft icon options. Please let us know which one(s) most closely reflect what you would like to seee and what you would change, if anything
[Theia_BluePrint_Icon-_Draft_2.pdf](https://github.com/eclipse-theia/theia-blueprint/files/5989693/Theia_BluePrint_Icon-_Draft_2.pdf)

[2021-02-16 16:17] koegel commented on #11
I like option 1, but I suggest that the colors in option 1 should match the colors from the logo.

[2021-02-17 14:49] JonasHelming opened #42 "Split updater and product branding"
It would be useful to split the updater feature (that is generic) and the blueprint product customizations.

We (EclipseSource) intend to contribute to this on behalf of ST Microelectronics.

[2021-02-17 14:57] JonasHelming opened #44 "Rename theia-updater to @theia/electron-updater"
After splitting the updater from the rpdocut branding (https://github.com/eclipse-theia/theia-blueprint/pull/43) we should consider renaming the updater extension. It is actually generic, so it could potentially be reused by any other application relying on the electron updater.

[2021-02-17 16:25] croundy commented on #11
Here's the option 1 icon with a couple of color options along with comparison with the logo colors
<img width="1222" alt="Theia BP Icon" src="https://user-images.githubusercontent.com/72274403/108234235-d527e680-7101-11eb-9779-80ff5c30c12a.png">

[2021-02-17 20:53] koegel commented on #11
@vince-fugnitto @JonasHelming What do you think?

[2021-02-18 08:46] JonasHelming commented on #11
I am a little undecided tbh, especially about:
1. The coloring visually still does not match. This is propably due to the fact that the logo has two colors, which visually mix and therefore neither option1 or 2 actually match. Probably this is not really important, as you usually would not see both at the same time.
2. Not sure, whether any additional shapes adds value, i.e. whether the circle in

[2021-02-18 10:51] koegel commented on #11
I totally agree with the first statement of Jonas, I also have the feeling the colors do not match visually. I think the light blue should be darker to match the average blue of the logo.
Also it would be good to have an option without the circle in addition.
Thanks!

[2021-02-20 22:09] JonasHelming opened #45 "Improve error reporting on failed updates"
At the moment the "Check for updates" action fails silently, e.g. if there is no connection or the URL is not available. It would be nice to show the user at least that the update has failed, ideally of course why.

[2021-02-22 12:57] jfaltermeier commented on #41
The Linux build is done like this:
https://github.com/eclipse-theia/theia-blueprint/blob/850fe09f304bd1ca23edf58545f8df97c2272388/Jenkinsfile#L17

So we are using the thegecko/theia-dev image to build, which is built from https://github.com/eclipse-theia/theia-blueprint/blob/master/Dockerfile as far as I could see. So currently this is Debian Buster

If we deploy a new version of this image using

[2021-02-22 13:38] thegecko commented on #41
FYI `thegecko/theia-dev` is simply a published version of:

https://github.com/eclipse-theia/theia-blueprint/blob/master/Dockerfile.

It should probably be published somewhere else. Anyone aware of a docker registry owned by Theia or Eclipse we can use?

[2021-02-22 14:24] jfaltermeier commented on #39
I tried to build it in production mode, but it did not make a difference regarding the size. However I am not 100% sure I've tried the right things.
Can we identify whether a production build was done when inspection the unpacked image?

One thing that might be improved is that the electron binaries are available twice. Once in the root and once via: electron-app/dist/linux-unpacked/resources/app/

[2021-02-22 14:25] jfaltermeier commented on #36
Not yet

[2021-02-22 15:47] croundy commented on #11
I'm not really sure what you guys are seeing. The colors are consistent with the logo. To help  visualize this, Mehrnaz took a slice of the logo and zoomed in to show the color comparison between logo and icon. Let's get this wrapped up!

![image](https://user-images.githubusercontent.com/72274403/108731977-5c060600-74ea-11eb-986c-2988561d84d1.png)
![image](https://user-images.githubusercontent.co

[2021-02-22 21:35] croundy commented on #11
QQ about my previous post. Does everyone see a light blue Theia icon on a darker blue circle? At least one person has seen it manifested as a red circle, which would not be consistent with what has been designed.

[2021-02-23 14:41] vince-fugnitto commented on #11
I see the two different blues, however it does not seem to pass [web accessibility tests]():

![image](https://user-images.githubusercontent.com/40359487/108858394-1b75bd80-75ba-11eb-884a-b137c541eaa5.png)

In addition, I believe that both @koegel and @JonasHelming have expressed that the colors should be updated, likely have the darker blue as the main color. I do not see the value in having the

[2021-02-23 15:17] JonasHelming commented on #11
Combining all this feedback, I think a good choice would be option 1 from here (darker color) without the circle: https://github.com/eclipse-theia/theia-blueprint/issues/11#issuecomment-780676872
@vince-fugnitto @koegel agreed?

[2021-02-23 22:24] koegel commented on #11
The point I am trying to make is that the logo consist of two colors and that when shrinking the logo the fine structures visually start to merge with the background and for me create the illusion of a color somewhere between the two colors involved. IMHO this should be reflected in the color of the icon by choosing a color between the two logo colors. I think the darker color from https://github.

[2021-02-23 22:33] croundy commented on #11
Guys, this is really simple. The logo is made up of 2 colors, a light blue and a darker blue. Pick one of those colors and that's what we will use for the icon. The circle does not need to be part of the design.

[2021-02-23 22:56] croundy commented on #11
Please provide us with the exact shade of blue you would like for the icon and we will do a final iteration. No circle. Then we will consider this done. Thanks.

[2021-02-23 23:37] koegel commented on #11
This is my proposal:
![image](https://user-images.githubusercontent.com/1044916/108923086-7948ea80-7638-11eb-989f-49f020c6ec53.png)

[2021-02-24 12:41] JonasHelming commented on #11
looks good to me, @vince-fugnitto ?

[2021-02-24 14:49] croundy commented on #11
Here ya go....
![Uploading image.png…]()

[2021-02-24 14:53] croundy commented on #11
Here ya go.....
[Theia_BluePrint_Icon-_Draft_2.pdf](https://github.com/eclipse-theia/theia-blueprint/files/6036813/Theia_BluePrint_Icon-_Draft_2.pdf)

[2021-02-24 14:53] croundy commented on #11
Here ya go....
![FinalTheia icon](https://user-images.githubusercontent.com/72274403/109018449-5db00500-7675-11eb-9084-bb6b23256f03.png)

[2021-03-01 11:51] jfaltermeier commented on #41
I found this in the eclipse project handbook: https://wiki.eclipse.org/CBI#Docker_Hub
So it should be possible for committers to publish under the eclipse organization once requested

[2021-03-01 15:11] marcdumais-work commented on #41
Let's just be aware of this limitation. We might eventually consider adding OS-specific builds to improve compatibility: e.g. RHEL7+, Ubuntu LTS, ...

[2021-03-01 15:32] thegecko commented on #41
Yeah, good idea. My only concern would be the effort to produce these and ongoing maintenance. How do we ensure they don't rot?

To solve this issue of hosting the linux build machine (and considering the potential future images you suggest), should we request an `eclipseTheia` organisation as outlined on https://wiki.eclipse.org/CBI#Docker_Hub

[2021-03-01 15:41] marcdumais-work commented on #41
I guess the same way we do for images under [theia-apps](https://github.com/theia-ide/theia-apps): have a minimal test suite that detects if the image is borked and generally maintain them. @vince-fugnitto  and myself have been doing most of that work (not a huge effort), and we could transition to the new images. The idea would be to do them from scratch or at least not based on our existing imag

[2021-03-01 15:42] marcdumais-work commented on #41
sounds like a good idea!

[2021-03-01 17:03] thegecko commented on #41
https://bugs.eclipse.org/bugs/show_bug.cgi?id=571598

[2021-03-01 17:30] croundy commented on #11
As a follow up to the latest icon, can I please get an affirmative that this is the final/accepted version? We can them move forward in creating the various sizes and formats. Thanks!

[2021-03-01 17:40] JonasHelming commented on #11
@vince-fugnitto ?

[2021-03-01 17:50] vince-fugnitto commented on #11
The icon is fine with me, I believe it is more up to @koegel to decide :)

[2021-03-01 18:08] JonasHelming commented on #11
@koegel I believe your thumbs up was a yes, please confirm

[2021-03-01 18:51] koegel commented on #11
Thanks, yes, I like the final proposal

[2021-03-04 12:12] #42 closed

[2021-03-04 14:19] meKokabi commented on #11
Please find the attached zip folder including 4 sub-folders: LinuxLauncherIcon | MacLauncher-icns | WindowsLauncher-ico- SidebarImage| which each includes all the required formats and sizes of the Theia Blueprint icon. Within these subfolders you can find the following formats:
Windows Launcher Icon
File type .ico
Dimension Combination of:
256 x 256 pixels – 32bit (24bit colour, 8bit transparency)

[2021-03-04 15:01] JonasHelming commented on #11
Thank you! I believe to enable the project using them, they should be contributed following the regular process, i.e. via a PR with a signed ECA. @brianking should be able to assist you with this.
For now you can just drop all files into https://github.com/eclipse-theia/theia-blueprint/tree/master/theia-blueprint-product/src/browser/icons

[2021-03-04 15:06] JonasHelming commented on #11
On a second thought, maybe it is a good idea to place a license file along with the icons. Sharon should be able to answer that. @brianking

[2021-03-04 15:38] meKokabi commented on #11
Theia Logo's  Final pngs:
<img width="237" alt="Theia BluePrint Logo- blue" src="https://user-images.githubusercontent.com/75500459/109988553-a438db80-7cd5-11eb-916c-ccd9bfa63124.png">
<img width="237" alt="Theia BluePrint  Logo- white" src="https://user-images.githubusercontent.com/75500459/109988566-a864f900-7cd5-11eb-8943-55b0aafc45a6.png">

[2021-03-04 15:59] marcdumais-work commented on #11
When this last came-up, I got an answer from the big guy, that amounted to: _ideally it's better that the content be licensed the same as the project_.

It's possibly enough that the creator submits the content under the project's [license(*)](https://github.com/eclipse-theia/theia-blueprint/blob/master/LICENSE) as part of the archive, e.g. adding a license file to the zip.

(*): TL;DR: "EPL-2.0 O

[2021-03-05 17:03] brianking commented on #11
My understanding is that anyone who has signed the ECA can check in these files and they would be under the same IP as the rest of the code.

[2021-03-05 17:51] JonasHelming commented on #11
Anyone who can answer the questions in the certificate of origin with yes...

[2021-03-08 22:28] koegel commented on #11
https://www.eclipse.org/legal/ECA.php
"The contribution was created in whole or in part by me and I have the right to submit it under the open source license indicated in the file or
The contribution is based upon previous work that, to the best of my knowledge, is covered under an appropriate open source license and I have the right under that license to submit that work with modifications, wheth

[2021-03-09 10:51] brianking commented on #11
I'll seek to get clarification on this today.

[2021-03-11 19:44] marcdumais-work commented on #39
One way is to look in `node-modules` for the presence of packages that are purely a `dev-dependency`. In a production build, these would be stripped. Just looking at the number of entries in there could be enough to be pretty sure. If it's 1000+ it's probably not a production build. If it's ~400-500 it's probably a production build.

Interesting. On which operating system(s)? I tried to find a lin

[2021-03-11 20:16] marcdumais-work commented on #39
I cloned this repo for the first time and had a quick look. I used the preview packaging mode, that leaves on the file system an unpacked version of the eventual package.

I confirm that the content of `node_modules` is production-only, so nothing to improve from that aspect:
[code]

Indeed I find two copied of several Electron binaries. It looks-like the Electron `dist` folder was used as the bas

[2021-03-11 20:18] marcdumais-work commented on #39
Maybe `@theia/electron` needs to be a `dev-dependency`?

[2021-03-11 20:35] marcdumais-work commented on #39
Correct and a big chunk of that is in a few extensions, used for advanced development support for HTML and JavaScript/TypeScript. We can eventually have a few extension packs, to install related vscode-builtins. We could have HTML/TS support part of an optional user-installed pack, to save download size.

[2021-03-11 20:41] marcdumais-work opened #48 "[packages] Electron binaries packaged twice"
### Bug Description:
Reported by @jfaltermeier : https://github.com/eclipse-theia/theia-blueprint/issues/39#issuecomment-783411229

The root issue I think is that ~~@theia/electron~~ _the npm electron package_ is currently defined as a  runtime dependency, from @theia/electron. If it were instead a `devDependency`, it would be stripped when we package and not be packaged-along `blueprint`~~, accom

[2021-03-11 20:54] marcdumais-work commented on #39
I have a PR: https://github.com/eclipse-theia/theia-blueprint/pull/49. On Linux this will reduce the unpacked package size by 16MB.

[2021-03-11 21:00] brianking commented on #39
Excellent investigative work @marcdumais-work , thanks!

[2021-03-11 21:03] marcdumais-work commented on #39
[code]

Here are the biggest extensions we bundle currently (unpacked size). They broadly intend to support Java and JavaScript/TypeScript/HTML development:
3.4M	ms-vscode.js-debug
45M	redhat.java
3.0M	vscjava.vscode-java-debug
1.1M	vscjava.vscode-java-dependency
3.6M	vscjava.vscode-java-test
12M	vscjava.vscode-maven
364K	vscode-builtin-node-debug
3.5M	vscode-builtin-node-debug2
4.2M	vscode.css-la

[2021-03-12 16:55] marcdumais-work commented on #39
We ended-up with a nicer than expected size reduction with #49:

before:
[code]
after:
[code]
I'm curious if we'll see the same from what's built/signed on Jenkins. Where are these deployed?

[2021-03-16 10:26] brianking commented on #11
Note I submitted a PR last week checking in the images. I suggest we them in the repo and someone else makes the changes to integrate them into the software.

[2021-03-16 11:43] jfaltermeier opened #51 "Structure of download area / Naming of files"
We face the following requirements:

1. We want to have a stable link to the latest version (see https://github.com/eclipse-theia/theia-website/pull/133#discussion_r591972440) for the download page

2. As we want to collect download stats, we need to use the select-a-mirror script (https://wiki.eclipse.org/Project_Download_Stats#ZIP_files). This only works for links to files as far as I could see,

[2021-03-16 18:42] marcdumais-work opened #52 "[Linux][1.11.0] Blueprint does not start: "cannot find fix-path'""
### Bug Description:

Blueprint v1.11.0 does not start. I get the same error with the `.Appimage` or the `Debian installer` version:
$ /opt/TheiaBlueprint/theia-blueprint
[code]

### Steps to Reproduce:

1. download .deb or AppImage  from https://download.eclipse.org/theia/1.11.0/linux/)
2. chmod +x and start .AppImage or for .deb start: `/opt/TheiaBlueprint/theia-blueprint`
3.

### Additional Inf

[2021-03-16 21:29] marcdumais-work commented on #48
Need to re-open in light of https://github.com/eclipse-theia/theia-blueprint/pull/53

[2021-03-17 15:01] #52 closed

[2021-03-19 13:55] nimo23 opened #57 "Cannot find module "fix-path""
### Bug Description:
I downloaded https://download.eclipse.org/theia/latest/macos/, installed it and when clicking the app, it does not start, the following error is shown:

![Screenshot at Mar 19 14-46-32](https://user-images.githubusercontent.com/3045549/111790983-11966000-88c3-11eb-89d1-474b13e18535.png)

### Steps to Reproduce:

1. Install https://download.eclipse.org/theia/latest/macos/
2. St

[2021-03-19 14:05] vince-fugnitto commented on #57
@nimo23 thank you for the report, I moved the issue to the appropriate repository.
I believe the issue has been recently fixed: https://github.com/eclipse-theia/theia-blueprint/issues/52, https://github.com/eclipse-theia/theia-blueprint/pull/53.

[2021-03-19 14:13] nimo23 commented on #57
Thanks.

[2021-03-19 14:13] #57 closed

[2021-03-20 10:25] koegel commented on #11
Thank you, gentlemen! I consider this ticket closed with the referenced PRs.

[2021-03-20 10:25] #11 closed

[2021-03-29 15:18] vince-fugnitto opened #61 "git: consider switching to builtin extensions"
#### Feature Description:

We should consider switching to using the **vscode builtins** for **git** support for the application rather than `@theia/git`.

Some considerations for switching over:
- buitin git support is feature rich, and provides a closer experience to vscode.
- the `@theia/timeline` extension is useless without it, `@theia/git` does not register timeline providers (ex: _git histo

[2021-03-30 09:10] brianking commented on #52
I know this is likely fixed now, but fyi same error with  v1.11.0 on macOS

[2021-03-30 09:15] brianking opened #62 "Install location on macOS has redundant folder"
### Bug Description:

Theia installs in the location:
Applications -> Theia -> Theia.app

I would expect it to be just:
Applications -> Theia.app

One of the side effects is that the app doesn't appear to be indexed for system search until it is opened, although that could be a latency issue related to my system.

### Steps to Reproduce:

1. Install Blueprint

### Additional Information

- Operati

[2021-04-01 12:02] #51 closed

[2021-04-01 12:20] koegel commented on #44
Should we not also move the updater to the Theia repo, @JonasHelming?

[2021-04-01 12:25] koegel commented on #30
What would be easy is to just add exactly the same actions as on the Theia default page below the blueprint default welcome page, this would mean it will scroll. What do you think, @JonasHelming ?

[2021-04-01 12:27] koegel commented on #25
Main remaining problem is the userhome default folder is still .theia.

[2021-04-01 12:50] vince-fugnitto commented on #30
@koegel I have not followed the discussion or motivation behind the current `getting-started` page closely, however, I believe the information it provides is likely only useful the first time the application is ever started, and not each time the app is started without a workspace. The default `getting-started` (upstream) is more useful day-to-day as it provides developers with information, and ac

[2021-04-01 13:04] koegel commented on #30
I have a different opinion on this. For now Theia Blueprint is only for showcasing the Theia platform feature set and for enabling developers to try it. I am not comfortable with them using it in production on a daily basis, since we are not testing for this scenario (not manually and no automated tests) and have no capacity to do so. So imho the welcome page is a constant reminder of the purpose

[2021-04-01 13:05] JonasHelming commented on #44
Yes, mid term this would probably make sense.

[2021-04-01 13:16] koegel commented on #30
I believe we should be really careful in the beginning with how we communicate the purpose of Theia Blueprint initially to avoid over promising and to avoid damage to the trust in the Theia platform. But this is just my opinion.

[2021-04-01 13:21] vince-fugnitto commented on #30
@koegel I see! Thank you for clarifying its purpose for the moment, it's always something we can update in the future 😄 Note that the way the `getting-started` works is that it is displayed when no workspace is present, did you want to display it each time the `blueprint` app is started until we are more comfortable?

[2021-04-01 13:24] koegel commented on #30
Yes, exactly, when we build more trust we could easily shift the messaging.

[2021-04-01 13:25] koegel commented on #30
Good point about the welcome page. Is there a simple way to show it also if no workspace is present?

[2021-04-01 13:30] vince-fugnitto commented on #30
@koegel if you want to customize the behavior you will need to override the current `onStart` method:

- https://github.com/eclipse-theia/theia/blob/22dcd7e2c9bd8dc8774d83f5b1ab78d980cfd76e/packages/getting-started/src/browser/getting-started-contribution.ts#L51-L57

[2021-04-01 15:31] marcdumais-work commented on #44
We are free to move code around within the project, so it's totally up-to us.

[2021-04-01 16:11] vince-fugnitto commented on #44
Before we think about moving, we should consider the following:
- Adding a `readme` to properly describe this extension (like other extensions).
- We should only add extensions if they can be easily tested when using `example-electron` (even manually). Does this extension provide any functionality that can be easily tested with `example-electron` or is it only useful for packaged electron applicat

[2021-04-01 16:48] brianking commented on #36
Any updates about this feature?

[2021-04-06 08:36] jfaltermeier commented on #36
With https://github.com/eclipse-theia/theia-blueprint/pull/56 we have regular stable download links for which we will track the downloads.

With https://github.com/eclipse-theia/theia-blueprint/pull/66 we will also record the number of total updates

[2021-04-07 13:11] koegel commented on #8
The release is now planned for April 10th. So the announcement should be released on Monday April 12th ideally.

[2021-04-07 13:12] koegel commented on #8
@brianking Is this feasible for you?

[2021-04-07 13:12] koegel commented on #7
Alpha release is planned for April 10th

[2021-04-07 14:40] jfaltermeier commented on #14
Available here: https://theia-ide.org/docs/blueprint_documentation/

[2021-04-07 14:40] #14 closed

[2021-04-07 14:41] jfaltermeier commented on #7
Download page: https://theia-ide.org/docs/blueprint_download/

[2021-04-07 14:41] #7 closed

[2021-04-07 14:47] brianking commented on #8
Yes, feasible. I will make sure the post is complete by the end of the week, and publish on Monday.

[2021-04-08 13:30] LucienBrule opened #69 "Build from source on MacOS prompts for password"
Description of bug:

When building the application the build script prompts for a password for genie.theia@projects-storage.eclipse.org. I'm assuming this is for CICD and thus I as a user would not have nor need this password. Providing the wrong password fails the installation. In addition it appears that failing the installation at this step does not exit gracefully (the install script keeps run

[2021-04-08 13:42] LucienBrule commented on #69
After reading the documentation at https://theia-ide.org/docs/blueprint_documentation/, using yarn start works fine and lets me build the application and run it locally. Still think the packaging is an issue though. It might help to provide instructions as to how to modify the build scripts for use without your ci pipeline for local build or maybe make them configurable, as a suggestion.

[2021-04-09 16:24] brianking opened #71 "Check for Updates gives no feedback if there is none [macOS]"
macOS
Blueprint 1.12.1

Steps:
Go to File -> Settings -> Check for Updates...

Expected:
A visual cue is shown telling the user that they are up to date. This could be a popup window (recommended), or a notification.

Actual:
Nothing happens.

I'm not sure what happens when an update is available.

[2021-04-09 16:26] brianking opened #70 "Move Check for Updates to application menu"
macOS.

Currently it is in File -> Settings ->

On macOS the standard is for it to go in the application menu, i.e. TheiaBlueprint, which is the first menu.

[2021-04-09 21:18] #23 closed

[2021-04-12 06:06] #41 closed

[2021-04-12 07:35] thegecko commented on #69
theia-blueprint isn't designed to be packaged by the end user. The packaging scripts are unique to the Eclipse CI infrastructure.

[2021-04-12 11:15] koegel commented on #8
Alpha release is online and web page is updated.

[2021-04-12 11:17] brianking commented on #8
Blog post will be up shortly today.

[2021-04-12 12:17] brianking commented on #8
The post is now live:

https://blogs.eclipse.org/post/brian-king/eclipse-theia-blueprint-now-available-download

[2021-04-12 12:55] #8 closed

[2021-04-13 15:54] vince-fugnitto opened #72 "loader: add a custom loading screen animation"
#### Feature Description:

The goal is to provide a custom loading animation (different from upstream) to customize the application further, and also be used as an example for extenders to implement their own.

The idea would be to use the following contribution point to provide a custom loading screen (`package.json`):

[code]

An example can be found in the following repo: https://github.com/vin

[2021-04-14 23:54] marcdumais-work commented on #61
This is something we have done quite a while ago in our internal Theia-based app. We think it's the way to go and would like to upstream this to Blueprint, among other things.

[2021-04-14 23:58] marcdumais-work commented on #61
See for example this [issue](https://github.com/theia-ide/theia-apps/issues/474), where cloning a repo from the IDE (not terminal) does not work, when credentials are needed. The same should work OOTB with the vscode-builtin git.

[2021-04-15 00:17] marcdumais-work opened #74 "Browser package for Blueprint"
### Feature Description:

Now that we have packages for multiple operating systems, for that Electron version of Blueprint, it would be desirable to also have some sort of packaged browser version of Blueprint.

This could be easily consumed, e.g. in Docker images, instead of attempting to build the contained Theia app from scratch, each time, as has been the norm so far. We think it will lower th

[2021-04-15 00:26] marcdumais-work opened #75 "Docker image"
### Feature Description:

Before Theia joined the EF, we had the [theia-apps repo](https://github.com/theia-ide/theia-apps). Because  of its popularity and diversity of contributors, it's a hard repo to re-license, making it difficult to bring under the Foundation.

However, with the move to vscode extensions to support programming languages, it's becoming less important to have multiple, per-lang

[2021-04-15 14:15] brianking opened #76 "Update About section of this repository"
Update the About section to at least add a description and web link.

<img width="356" alt="Screenshot 2021-04-15 at 15 13 50" src="https://user-images.githubusercontent.com/114116/114884058-5eefe980-9dfd-11eb-857f-2322ac723df7.png">

[2021-04-15 14:16] vince-fugnitto commented on #76
@brianking I believe you may need to open a bugzilla for the webmaster to add content.

[2021-04-15 14:32] brianking commented on #76
Ok will do!

[2021-04-15 14:39] brianking commented on #76
https://bugs.eclipse.org/bugs/show_bug.cgi?id=572884

For those not on Bugzilla, here is what I suggested. Suggestions welcome.

Suggested description: Eclipse Theia Blueprint is a template for building desktop-based products based on the Eclipse Theia platform, as well as to showcase Eclipse Theia capabilities. It is made up of a subset of existing Eclipse Theia features and extensions and can be

[2021-04-15 14:41] marcdumais-work commented on #76
I have access to edit that. I assumed all committers had the same. Am I the only one? When I click on the nearby gear icon, this opens:

![image](https://user-images.githubusercontent.com/25749063/114888047-eaa24f80-9dd6-11eb-87b8-3c8cd4ca4ae9.png)

Brian, if you propose some content, I can paste it in there.

[2021-04-15 14:42] marcdumais-work commented on #76
Updated!

[2021-04-15 16:36] brianking commented on #76
Great, thanks @marcdumais-work

[2021-04-15 16:36] #76 closed

[2021-04-15 19:42] marcdumais-work commented on #25
I think we can contribute an incremental improvement, that permits to override this with a static string e.g. a product name. In our case the folder could be named `.blueprint`.

It will be helpful for ourselves to do so, because right now the Blueprint config folder is shared with that of vanilla Theia applications, including our own example application. No good can come of this :)

cc: @vince-fu

[2021-04-16 15:25] vince-fugnitto opened #77 "json: downgrade 'vscode-json-language-features` plugin"
#### Bug Description:

The `vscode-json-language-features` plugin should be downgraded since it is currently incompatible with the framework.
The plugin reports an error (API missing until monaco upgrade), and there is no schema support for editing JSON files (such as the `settings.json`):

[code]

#### Steps to Reproduce:

1. start the electron application
2. open the preferences, and correspondi

[2021-04-19 07:38] jfaltermeier commented on #71
On Windows and Linux this shows "Already using the latest version" in the bottom right corner. So this might be a macOS issue (maybe related to #45 that an exception is swallowed).

![ksnip_20210419-092546](https://user-images.githubusercontent.com/5889696/115198872-dcb03f80-a0f2-11eb-8db8-ed43abd777ee.png)

The updater logs using this framework: https://www.npmjs.com/package/electron-log
so there

[2021-04-19 10:55] brianking commented on #71
[code]

So it is checking in a folder that does now exist. On my system, Theia is installed in /Applications/Theia/Theia.app.

Somewhat related, see issue #62

[2021-04-20 14:36] marechal-p commented on #74
Note that I'm currently investigating building such a browser app as well as its packaging into an executable format.

This is in the investigation state and I'm making very slow progress on this. I'm basically trying tools such as [pkg](https://www.npmjs.com/package/pkg) to turn a Node app into an exe, bundling the backend code using Webpack to minimize the build size, etc... Learning as I go, so

[2021-04-20 14:45] brianking commented on #74
A nice first use-case or test bed for this would be if we stood up our own hosted version of Theia. However, we would need someone to contribute infrastructure for hosting it.

For current adopters, what is the current way for them to integrate Theia? Is the idea with this to make their job easier?

[2021-04-20 14:47] vince-fugnitto opened #81 "builtin: revisit default builtins"
#### Feature Description:

We should revisit the current default builtins present in the application.

Ideally, we should include a minimum set of builtins (likely only those provided by vscode by default) since we already allow end-users to install their favorite extensions at runtime.

I believe the following can potentially be removed, making the app smaller, and more tailored to end-users:

ht

[2021-04-20 15:04] marechal-p commented on #74
The way I see it, Theia is an appliance to get a Window into a development environment. With that in mind, I was thinking that people using Theia blueprint in the browser would define their development environment as a Dockerfile of some sort, and lastly drop in and install Theia in order to work inside it.

I think Che also focuses on the "development container" approach where Theia runs in one c

[2021-04-20 16:26] vince-fugnitto opened #82 "quality: add linting rules"
#### Feature Description:

The goal would be to add linting as part of the project (`eslint`) to improve overall code quality similarly to the upstream `eclipse-theia` repository. The linting rules will help identify issues earlier in the development cycle (build and continuous-integration).

The linting rules will help:
- identify issues earlier.
- statically analyze the code to identify problems

[2021-04-20 16:41] brianking commented on #81
Given the embedded domain use case, might it make sense to add in some C++ builtins?

[2021-04-20 16:45] vince-fugnitto commented on #81
@brianking I believe the idea should be to provide a streamlined application and not bloat it with default extensions that end-users might or might not need. In the end, end-users are free to install runtime plugins (through the _extensions-view_ for additional plugins they require.

[2021-04-20 19:31] vince-fugnitto commented on #71
Would it not be better/easier to programatically get the application version, and check if a newer version is present in the `eclipse` downloads rather than rely on where it is installed?

[2021-04-20 20:29] brianking commented on #71
The file of the latest version does not include the version number. Is there another way to get it?

https://www.eclipse.org/downloads/download.php?file=/theia/latest/macos/TheiaBlueprint.pkg&r=1

[2021-04-21 13:08] vince-fugnitto commented on #62
@brianking is this still an issue? I downloaded and installed `blueprint` today (on macOS) and I got the following:

[code]

[2021-04-21 13:17] brianking commented on #62
Not an issue. I removed the current folder+application and installed fresh from the package. This time there is no extra folder. Closing.

[2021-04-21 13:17] #62 closed

[2021-04-21 13:22] vince-fugnitto commented on #36
@jfaltermeier with the two pull-requests referenced being merged, is there anything missing before the issue can be closed?

[2021-04-21 13:53] DukeNgn commented on #35
I confirmed the issue on Windows. However, it only happens when I chose the option to install for all users. When installing `only for me`, the path is correctly customized based on my machine.

![image](https://user-images.githubusercontent.com/43587865/115565242-36e20980-a287-11eb-821e-bfc8a0c0d3ef.png)

[2021-04-21 13:57] jfaltermeier commented on #36
@vince-fugnitto Everything is in place, I'll close this issue.
Stats may be checked at https://dev.eclipse.org/committers/committertools/stats.php e.g. with search query `/theia/latest/%`

[2021-04-21 13:57] #36 closed

[2021-04-21 14:17] vince-fugnitto opened #83 "feature: add additional 'help' menu items"
#### Feature Description:

The goal is to add additional menu items to the `help` menu which serve as links, namely:

- `Report Issue`: [link](https://github.com/eclipse-theia/theia-blueprint/issues/new?assignees=&labels=&template=bug_report.md).
- `Documentation`: [link](https://theia-ide.org/docs/blueprint_documentation/).

[2021-04-22 17:08] #83 closed

[2021-04-22 19:41] #77 closed

[2021-04-27 17:44] Jeeppler opened #85 "Include AsciiDoc extension by default"
Please consider adding the AsciiDoc extension to Theia Blueprint as a default extension: https://github.com/asciidoctor/asciidoctor-vscode.

[2021-04-27 17:46] vince-fugnitto commented on #85
@Jeeppler I'm not sure it is necessary to add by default, you can install it from the extensions-view given that it is available from open-vsx:
- https://open-vsx.org/extension/asciidoctor/asciidoctor-vscode

[2021-04-27 18:18] Jeeppler opened #86 "Show vscode extension API version in `About` dialog"
Currently, it is not easily possible to see what vscode extension API version Theia Blueprint supports. One would expect the supported vscode extension API in the `About` dialog next to the Theia version.

According to `plugin-ext-vscode` Theia 1.12.0+ supports vscode 1.50.0:

[code]

Source: https://eclipse-theia.github.io/theia/docs/next/modules/plugin_ext_vscode.html

It would be nice to be abl

[2021-04-27 18:22] vince-fugnitto commented on #85
The discussion falls under the same idea as https://github.com/eclipse-theia/theia-blueprint/issues/81#issue-862898518 and https://github.com/eclipse-theia/theia-blueprint/issues/81#issuecomment-823431155. We should not bloat the application with extensions that users may or may not need, instead they are free to install them at runtime.

[2021-04-27 18:22] #85 closed

[2021-04-27 18:23] Jeeppler commented on #85
@vince-fugnitto thanks for the explanation.

[2021-04-27 18:41] marcdumais-work commented on #81
C/C++ debugging is an exception ATM, if we want to use `@theia/cpp-debug`. Since it's a Theia extension, it needs be present at built-time. We could decide to migrate to the equivalent CDT vscode extension: cdt-gdb-vscode. We already re-use their Debug Adapter in the @theia extension.

[2021-04-27 21:40] alvsan09 opened #87 "Extensions are not grouped under a folder"
### Bug Description:
The file structure is not following 'theia' or 'lerna' defaults where additional packages are consolidated
under a 'packages' folder.
So the top level project may continue to grow as extension get added which is not desirable as multiple projects may
extend a non optimal structure.

### Steps to Reproduce:

1. Open theia-blueprint repository in a file system and observe that t

[2021-04-27 21:45] vince-fugnitto commented on #87
@alvsan09 its a known optimization that @marechal-p and I talked about previously to re-organize the repo and also add linting #82. I believe that @marechal-p already did some reorganization in preparation for #74.

[2021-04-28 11:30] alvsan09 commented on #87
Ok, I have closed my intended PR to take Paul's PR #88 instead.

[2021-04-28 15:47] marcdumais-work commented on #74
Providing a Docker image that bundles `Blueprint` is a step towards that direction, but like Paul says, there are important required components/services that are not part of Blueprint or Theia (e.g. authentication, managing development containers, ...). If we wanted to go in that direction, I would suggest the Foundation investigate using Che, which could probably have a version of Blueprint, adap

[2021-04-30 13:02] fdesbiens opened #89 "Windows Installer — Default Path"
Hi.

The default installation path in the Theia Blueprint installer is `C:\Program Files\Rob Moran\TheiaBlueprint`. This seems  a bit too specific.

![TheiaWindowsInstaller](https://user-images.githubusercontent.com/5367020/116698596-8d8bc980-a992-11eb-97cd-f48377967742.png)

I suggest the default to be `C:\Program Files\TheiaBlueprint`.

Keep up the good work!

[2021-04-30 13:07] vince-fugnitto commented on #89
@fdesbiens thank you for the report, it is a duplicate of https://github.com/eclipse-theia/theia-blueprint/issues/35.

[2021-04-30 13:07] #89 closed

[2021-04-30 13:09] fdesbiens commented on #89
@vince-fugnitto I checked open issues and somehow missed it. Thank you for the quick reply!

[2021-05-03 13:08] koegel commented on #86
Thanks, good point, we will  take a look for the beta version to fix this.

[2021-05-03 13:10] koegel commented on #82
Good point, we will take a look

[2021-05-03 13:15] koegel commented on #81
IMHO Blueprint is about showcasing the power of the Theia platform with user-visible features. This will not lead to a small app size obviously, but does not matter for this purpose in my opinion. Adding C++ editing might be worth a consideration though to show even more capabilities.

[2021-05-03 13:22] koegel commented on #69
I agree with @thegecko that packaging and signing is very infra specific and difficult to document in general.

[2021-05-03 13:23] koegel commented on #69
In the documentation there is a pointer electron builder about how to sign also.

[2021-05-03 13:24] #69 closed

[2021-05-03 13:25] koegel commented on #39
#49 was reverted due to build problems. We will take another brief look at this for the beta.

[2021-05-03 13:32] koegel commented on #26
#81 is related

[2021-05-03 19:12] marcdumais-work commented on #39
Hi @koegel

We've discussed it internally and, as we can tell, the `electron` runtime dependency in `@theia/electron` is needed until packaging-time, but not anymore at runtime. I think it can't be a `devDependency` because then it would be stripped when we do a production build, potentially making it impossible to package such a Theia app.

So, Electron may need to remain a runtime dependency, bu

[2021-05-03 19:20] koegel commented on #39
Ok, thanks for the good input!

[2021-05-03 19:46] marcdumais-work commented on #86
I think this would be generally helpful, not just for Blueprint.

@vince-fugnitto remind me, where do we define currently the generic content for the `Help -> About`  dialog?

[2021-05-03 20:03] vince-fugnitto commented on #86
@marcdumais-work this is how the `about-dialog` is implemented (core), it currently does not know about supported API version, but a downstream extension can extend it like in the case of Blueprint. I’ve added a command to echo the API version but this is an api-sample (unpublished extension).

[2021-05-03 22:05] marcdumais-work commented on #81
@koegel I forgot to mention that there's a hidden trade-off involved: the extensions we bundle are not updatable (or un-installable). That's a pretty big limitation, not present when installed through the extensions view. (partly due to the fact that some of our packagings are static, e.g. `AppImage`)

Also, we might be depriving users from the experience of searching for the extension, reading it

[2021-05-03 22:11] koegel commented on #81
@marcdumais-work Good points! I have not tried: What happens if no acceptable JDK or clangd is present? Is there any kind of user guidance?

[2021-05-03 22:17] marcdumais-work commented on #86
So, I think it would be nice to add it to the dialog in @theia/core, then. Or at least I would like to have this info available in various Theia apps.

[2021-05-03 22:24] marcdumais-work commented on #81
I am not sure - probably like you I have these on my machine, so everything works from my PoV. That's a  blind-spot we tend to have. Maybe @brianking, not being a developer day-in-day-out, has a more vanilla computer, where this would be tested.

The specifics are left to each language extension. In some cases it just doesn't work, and the user might not know why. We had this happen recently with

[2021-05-03 23:07] marcdumais-work commented on #81
I had an idea: use one of our Docker images, that's without installed JDK, to test:

[code]
I then installed the Java extension from within the IDE,
![image](https://user-images.githubusercontent.com/25749063/116943292-424b1280-ac41-11eb-8a3d-7503386eb9f6.png)

 and triggered it by opening a `.java` file. Result:
![image](https://user-images.githubusercontent.com/25749063/116942508-b84e7a00-ac3f-1

[2021-05-04 10:43] brianking commented on #81
I have Java and many other dev tools installed I am afraid. I still have grand illusions of being a developer.

[2021-05-04 19:01] marcdumais-work commented on #81
@brianking do you have `clangd` installed? You use a Mac, correct?

[2021-05-04 20:05] brianking commented on #81
I don't seem to right now.

[2021-05-04 20:12] marcdumais-work commented on #81
I am curious if the `vscode-clangd` extension would be able to install a functional `clangd` for you.
You can follow the steps as per the images/movie above, if you want to give it a try.

[2021-05-04 21:11] marechal-p commented on #74
Progress update: I managed to package a browser version of Blueprint.

My changes are on the following branch: https://github.com/eclipse-theia/theia-blueprint/tree/mp/browser-package

See [theia-blueprint-linux-prototype-1.tar.gz](https://drive.google.com/file/d/1u6DuPrAhExiyt6Rb_De7d-gKACGzOjTF/view?usp=sharing) for a prototype binary made on Ubuntu 16.04.

Doing this work revealed a few areas t

[2021-05-04 21:39] marechal-p commented on #74
Note that an alternative to packaging could be to only bundle the backend using Webpack, and expecting people to run the minimized scripts using their own installed Node version (which would have to be compatible with our bundle).

The bundle size is roughly ~20MB IIRC, compared to ~200MB once packaged as executable.

The executable version is that much bigger because of the embedded Node runtime.

[2021-05-04 21:56] marechal-p opened #90 "remove `@theia/git` and use a VS Code extension instead?"
IIUC `@theia/git` is deprecated? Can we replace it by some VS Code git builtin extension?

[2021-05-04 21:56] marechal-p commented on #90
cc @marcdumais-work @vince-fugnitto

[2021-05-04 22:07] marechal-p commented on #90
Closing in favor of https://github.com/eclipse-theia/theia-blueprint/issues/61

[2021-05-04 22:07] #90 closed

[2021-05-05 06:05] #25 closed

[2021-05-05 20:29] vince-fugnitto opened #91 "logo: improve logo design"
#### Feature Description:

I believe the **eclipse theia blueprint** logo can be improved based on feedback (internal and my own).

<br />

<div align='center'>

![image](https://user-images.githubusercontent.com/40359487/117204274-186b2a80-adbe-11eb-8a39-743ea7bcb3f4.png)

</div>

<br />

There are a few areas of the logo that can be improved, namely:

- there are too many unnecessary shades of b

[2021-05-11 10:19] JonasHelming commented on #91
@brianking

[2021-05-11 14:01] croundy commented on #91
Thanks for that feedback @vince-fugnitto. I agree with you that thee logo could be better. However, before asking Mehrnaz to do anything more with this design, I would like to get a +1 and input from @JonasHelming as the design was driven by his team.  As you may recall, the shade of blue used for the Blueprint text was actually insisted upon against recommendations made by our designer.

To your

[2021-05-11 14:56] JonasHelming commented on #91
@koegel

[2021-05-11 21:10] koegel commented on #91
Probably I am biased since I was very much involved with designing the logo as is, anyway I have to say I like the logo as is. About the points @vince-fugnitto is bringing up:

- colors: I do not see a problem with the different shades of blue, but I would also not see a problem if "blueprint" had the same color as "Theia"
- fonts: I agree with @croundy that this is not uncommon
- alignment: For m

[2021-05-12 22:32] marcdumais-work commented on #5
There is now an easy way to add all built-ins, in one operation - the `built-in extensions pack`:
https://open-vsx.org/extension/eclipse-theia/builtin-extension-pack/1.50.0

There are still things to iron-out, like we'd probably want the extensions to be fetched/installed at build-time rather than runtime. See this draft PR (not to be merged at this time), the first step in using the pack.
https:/

[2021-05-14 08:02] jfaltermeier commented on #35
This is taken from the electron-app package.json's author field.
What should we take as the organisation name? Some suggestions:

- Eclipse
- Eclipse Theia
- Eclipse Foundation

[2021-05-15 08:20] ssbarnea opened #95 "[About dialog] fix opening of external links"
### Bug Description:

It seem that all hyperlinks in theia dialogs containing HTML are opened by the embedded browser and which even prevents even some of the most basic accessibility features:

* right click, copy link is missing
* inside textarea Cmd+A does not select all text
* Unable to make use of browser password managers (nativa or extensions), so logging in to github with 2FA becomes a bur

[2021-05-15 08:26] ssbarnea opened #96 "some open-vsx.org extension are not available without any explanations"
### Bug Description:

The extension installation panel does say it uses open-vsx.org as source but performing a search on it does return different results than on the website.

### Steps to Reproduce:

I tried to find my https://open-vsx.org/extension/zbr/vscode-ansible extension, but when searching for "ansible" only two results are returned instead of 3.

I am not aware of any special flags that

[2021-05-15 13:48] vince-fugnitto commented on #96
@ssbarnea thank you for the discussion, can you confirm which version of ansible you expect? The version I see uses an `engines.vscode` of `1.52.0`. The extensions in the view are checked for api compatibility by comparing them to the api level of the framework (currently 1.50.0). If an extension is not listed in the view it is due to this compatibility check not being satisfied.

[2021-05-15 15:21] ssbarnea commented on #96
@vince-fugnitto Thanks for the hint, that explains why my extension is not listed as I do know to require `^1.52.0`, but I can likely check the compatibility with older versions and lower the engine requirements. Funny, few days ago I had to lower it from 1.54 after someone explained he cannot make use of latest vscode.

I was expecting something like this but I was not able to identify any doc me

[2021-05-16 09:12] ssbarnea commented on #96
@vince-fugnitto After more debugging I am starting to believe it will not be possible to lower the vscode engine version down to 1.50.0. How far is theia from upgrading its compatibility? Do we have bug tracking progress for 1.52 compatibility?

[2021-05-17 00:05] koegel commented on #35
I suggest "Eclipse Theia"

[2021-05-17 08:25] ssbarnea opened #97 "Implement vscode ^1.52.0 compatible API"
It seems that theia supports only vscode 1.50.0 which is very old and multiple key extensions and dependencies are already requiring at least 1.52.0, with a notable remarks of the `vscode-languageclient@7.0.0` which is used by a huge number of extensions.

References:
* https://github.com/redhat-developer/vscode-yaml/issues/509#issuecomment-842037147

[2021-05-17 08:26] ssbarnea commented on #96
I ended up creating https://github.com/eclipse-theia/theia-blueprint/issues/97 for the 1.50.0 issue.

[2021-05-17 11:34] brianking commented on #96
This looks like https://github.com/eclipse/openvsx/issues/297

[2021-05-17 12:18] vince-fugnitto commented on #97
@ssbarnea thank you for opening the issue, increasing compatibility requires changes in the base framework which will then be available to the _theia blueprint_ application:
- https://github.com/eclipse-theia/theia/issues/9193

[2021-05-17 12:28] vince-fugnitto commented on #96
@ssbarnea the view only lists extensions which have a known compatible version which is ultimately displayed and installed.

As an end-user, I would not expect to see incompatible extensions from the list (no known compatible version present in the registry) since if installed these such extensions will fail as soon as they are activated. One alternative could be to keep them in the list, mark the

[2021-05-17 12:31] vince-fugnitto commented on #95
@ssbarnea I'm not sure I follow but it sounds like you are expecting the cloud use-case and not the electron (desktop) one?

Can you identify an area where this happens in `vscode` but the `theia` does not?

I verified with the `scm` textarea and it works correctly.

I don't think desktop applications should make use of browser password managers.

[2021-05-17 14:39] croundy commented on #91
See what you think of this:

![image](https://user-images.githubusercontent.com/72274403/118507275-508e3980-b6eb-11eb-9776-a36b19dbab49.png)

[2021-05-17 14:49] vince-fugnitto commented on #91
I personally think it looks much better, the issues I had with the original are fixed :+1: It looks more polished overall.

[2021-05-17 16:39] #87 closed

[2021-05-17 20:03] marcdumais-work commented on #95
@ssbarnea do you maybe refer to links contained in a HTML preview, opened in Theia's mini-browser?

[2021-05-18 09:44] Sathiskumar18 opened #98 "Disable output tab drag and drop"
Hi Team,
Seems the Output window is draggable which makes collapse the other components in the window.
Is there any option available to disable the output tab drag and drop or required any new implementation to do that?
Thanks.

[2021-05-18 09:50] #98 closed

[2021-05-18 16:16] marcdumais-work commented on #95
ATM blueprint only has a desktop (Electron) packaging. We are working on a browser version for easy integration in e.g. `Docker containers`. Which Theia application/version are you reporting about?

Testing with a locally built desktop Blueprint(*), URLs in editors (.md, .ts) open in the system's default browser when I control-click them.

(*) from this PR I am working-on. I have no reason to thin

[2021-05-18 16:22] marcdumais-work commented on #95
![Peek 2021-05-18 12-18](https://user-images.githubusercontent.com/25749063/118687749-5cedc180-b7d3-11eb-87c1-1b24c15ec864.gif)

[2021-05-18 16:43] ssbarnea commented on #95
Yep About dialog is the open opening another popup instead of opening system browser. In other places, like extension listing page it seems to open links as expected.

I used Theia Blueprint desk for MacOS from https://theia-ide.org/docs/blueprint_download

[2021-05-18 18:03] vince-fugnitto commented on #95
@ssbarnea the `about` dialog is specific to and implemented by the application, can you clarify why you expected a desktop application's `about` dialog (like in other apps) to open in the system browser?

[2021-05-18 19:19] marcdumais-work commented on #95
This is annoying. Specially with links that require authentication, like some on GitHub. I think the "About" dialog should be modified to use the native default browser, for the Electron version of Blueprint.

![Peek 2021-05-18 15-15](https://user-images.githubusercontent.com/25749063/118710148-e7dab600-b7eb-11eb-80db-1554eab98b63.gif)

We recently fixed this for some dialog, but there remains som

[2021-05-18 19:22] marcdumais-work commented on #95
(actually we may want to do the same with the browser version of Blueprint, so this would maybe not be Electron-specific)

[2021-05-18 19:25] vince-fugnitto commented on #95
@marcdumais-work I made the fix in the upstream framework, it's possible that the custom blueprint `getting-started` view also needs to be updated:
- https://github.com/eclipse-theia/theia/pull/9390
- - https://github.com/eclipse-theia/theia/pull/9318

[2021-05-18 19:27] marcdumais-work commented on #95
I am not suggesting that the `About` dialog itself be opened in an external browser, just that links it contains would be better opened in a new browser instead of the limited Electron limited pop-up browser we currently get.

[2021-05-18 19:34] vince-fugnitto commented on #95
Right, but the links in the `getting-started` and `about` (which use the same code) incorrectly reference links which will not work for the electron target:

https://github.com/eclipse-theia/theia-blueprint/blob/151e0e70f4f9a984f933856c6072f8dba38d9a88/theia-extensions/theia-blueprint-product/src/browser/branding-util.tsx#L30

[2021-05-18 19:38] marcdumais-work commented on #95
@ssbarnea It took a little while to understand - thanks for taking the time.

Let's fix the links in the `About` dialog, so they open in the user's default browser. I have rephrased the issue title to reflect that. Please let us know if you find other places where the same is applicable.

[2021-05-18 19:39] marcdumais-work commented on #95
Thanks Vince - I think this is exactly what we need. Nice that it works both for Electron and browser.

[2021-05-18 19:44] marcdumais-work commented on #95
@ssbarnea would you please rephrase the issue description, reflecting the findings in this discussion? If you prefer I can do it.

[2021-05-18 19:51] marcdumais-work commented on #96
Vince, I think we definitely do the right thing, by having the vsx client be smart enough to pick an older version of an extension, should newer ones require APIs not supported by the current Theia-based app.

However it may be puzzling to a user or extension developer, why a newer version of an extension is apparently being ignored by a Theia application's extension view, while being available on

[2021-05-18 19:53] marcdumais-work commented on #96
^^^ this

[2021-05-20 22:16] koegel commented on #91
Looks good to me!

[2021-05-26 06:23] kittaakos opened #100 "[Chromebook]: error while loading shared libraries: libnss3.so: cannot open shared object file: No such file or directory"
### Bug Description:

Originally posted [here](https://github.com/arduino/arduino-ide/issues/359#issuecomment-841761773):

### Steps to Reproduce:

1. Download the Electron-based application from [here](https://theia-ide.org/docs/blueprint_download#downloads)
2. Start the app.
3.

Does anyone know if this problem can be tackled at build time?

### Additional Information

- Operating System: _Linux

[2021-05-26 15:16] marcdumais-work commented on #100
I have no solution or suggestions ATM. On my Ubuntu system, I have this library in both 64 and 32 bit, and do not experience the issue with Blueprint:

[code]

[2021-05-27 10:02] #82 closed

[2021-05-27 19:07] maxiauer commented on #100
Just to add some background:

- Problem exist after doing "fresh install". On Chromebooks, you do not install the Debian OS. The ChromeOS is already distributed with a Debian 10 VM Image (actually, a container) ready to use.
- Problem persist after checking for and installing updates
- There is no further issue if you manually install libnss3 and then run TheiaBlueprint

For some reason, the Linux

[2021-05-27 20:17] marcdumais-work commented on #100
I played a bit with an ubuntu container, and I do not see `libnss3` installed as a dependency, while setting-up the development environment to build a Theia application. The library got installed-along when I installed `openjdk-11-jdk` (see below*). It's possible it's also a dependency of other popular packages on Ubuntu.

I do not think so. It feels like the wrong level to fix this.

It looks ele

[2021-05-27 20:29] marcdumais-work commented on #100
It looks like this is how vscode makes sure `libnss3` is present (mentioned as a Debian package dependency):
![image](https://user-images.githubusercontent.com/25749063/119892803-91b2f480-bf08-11eb-840a-46a2b94999b1.png)

[2021-05-28 05:17] kittaakos commented on #100
Thank you so much for the help, @marcdumais-work.

I can make those changes on a branch in the Theia Blueprint repo.

@maxiauer, could you please help with the verification once I have those changes?

[2021-05-28 15:10] marcdumais-work commented on #100
I think it would be fine to build and eventually make `Blueprint` available in a Debian package. Is that what you have in mind @kittaakos?

[2021-05-28 18:39] marcdumais-work commented on #100
I see we already generate the `.deb`

[2021-05-29 03:07] maxiauer commented on #100
Yeap, send it my way and I will do the verification testing

[2021-05-31 10:57] jfaltermeier commented on #71
The dmg from https://download.eclipse.org/theia/latest/macos/ should fix this issue.

Some mirrors for download.eclipse.org might not have caught up yet, so if there is no dmg yet, please try again later.

[2021-05-31 10:57] #71 closed

[2021-05-31 13:41] koegel commented on #70
To me it seems that withouta fix in Theia of https://github.com/eclipse-theia/theia/issues/6497 it does not make sense to fix this bug.

[2021-05-31 13:59] brianking commented on #70
Or vice versa? Once we figure out how to do one, it should be straightforward to do the other.

[2021-06-01 08:35] #45 closed

[2021-06-03 15:47] marcdumais-work opened #109 "Jenkins kinks and issues"
### Bug Description:

Our Jenkins build is not very stable at the moment. I noticed a few things in the Jenkins build log, that I'll attempt to fix.

- [linux] Suitable yarn cache global folder not found
  - _potential fix:_  I think we can add the `/.yarn` folder, so that it's writable by our CI user, using a volume, like we do for the `/.cache` folder.

[code]

- [linux] it looks like during pac

[2021-06-04 06:47] #35 closed

[2021-06-07 19:24] marcdumais-work commented on #109
@thegecko Do you know how one gets access to see/edit the Jenkins job configuration? I do not seem to have that access.

[2021-06-07 20:18] thegecko commented on #109
I think I can see some of it,  but the interesting stuff is all in the jenkinsfile as far as I can remember.  What are you after?

[2021-06-07 20:27] marcdumais-work commented on #109
In the logs I sometimes see a "git clean -ffdx" that seems to hang, that's not from the Jenkinsfile, I think. That's in the mac section, "sign, notarize and upload".I thought it might be in the job's config.

[2021-06-07 21:13] thegecko commented on #109
Just checked and the config only contains checkout details and repo discovery settings, there's no additional scripting.

[2021-06-07 21:51] marcdumais-work commented on #109
Ok, thanks Rob. While in there, might there be references to the repo under it's old/original name? I see some of these in the logs.

[2021-06-08 10:17] #30 closed

[2021-06-08 10:42] thegecko commented on #109
It was using the old repo URL, so have updated it. It's likely this change will have scheduled new builds for all PRs...

[2021-06-09 08:36] #86 closed

[2021-06-09 13:39] jfaltermeier opened #110 "Getting started shown twice in help menu"
### Bug Description:
Getting started shown twice in Menu

![ksnip_20210609-110608](https://user-images.githubusercontent.com/5889696/121365212-c11a2600-c938-11eb-9eab-2beb5322ef2e.png)

### Steps to Reproduce:

1. Open Help Menu

[2021-06-11 12:32] #110 closed

[2021-06-12 14:02] #109 closed

[2021-06-14 17:36] kittaakos commented on #100
[Confirmed](https://github.com/arduino/arduino-ide/pull/404#issuecomment-860379084), shipping the app in deb target fixes the issue. Thank you for the help on this. Closing.

[2021-06-14 17:36] #100 closed

[2021-06-21 11:53] jfaltermeier commented on #74
@paul-marechal @marcdumais-work Currently this is part of the Beta 1 milestone. We would plan to announce the move from Alpha to Beta end of June. Shall we move this ticket to the next milestone?

[2021-06-21 17:39] paul-marechal commented on #74
@jfaltermeier sounds good.

[2021-06-30 06:37] jfaltermeier opened #116 "Auto-Updater may fail for signed electron apps"
### Bug Description:
When testing updating from Theia-Blueprint 1.13.0 (https://download.eclipse.org/theia/1.13.0/windows/) to the latest version, it fails with this log message:
`[error] Error: Error: sha512 checksum mismatch, expected YYK4Rj/MMIRE/MeFSfVuQOeShXxrwdM5TMgjgPc5uvNxLkQpqUMqTX7MoqYeLpW2gvcgaeVDYPfFROu8LIhtSw==, got EwV8hwXMsQ+5qIjZ1HFGcdPJyBqdkXyCZCSopvhPzhRzwltCZRWvthszWrVUGb/ranElM

[2021-06-30 06:40] jfaltermeier commented on #116
@brianking Could you please check this for Mac by updating the 1.13 version: https://download.eclipse.org/theia/1.13.0/macos/
As this is signed as well, I would expect the same issue as for windows.

[2021-06-30 08:47] koegel commented on #96
@marcdumais-work: This requires a fix in Theia or even OpenVSX? Is there already a ticket to fix this in either of the projects?

[2021-06-30 08:53] koegel commented on #91
We will add this to Blueprint for the Beta 2 milestone

[2021-06-30 09:03] brianking commented on #116
It's failing on macOS, but with a different error.

[code]
I have omitted the sha512 value on purpose, not sure if it is sensitive info.

[2021-06-30 09:13] jfaltermeier commented on #116
Thanks! Seems like https://github.com/electron-userland/electron-builder/issues/2199
I'll have a look at this as well

[2021-06-30 09:38] brianking commented on #96
There are a couple of related open search bugs:

https://github.com/eclipse/openvsx/issues/244
https://github.com/eclipse/openvsx/issues/297

[2021-06-30 13:40] marcdumais-work commented on #96
@koegel I think a client-side fix would be enough. ATM the client ignores extension versions that require a vscode extensions API greater than the one available in the current Theia application.

If no version of an extension is deemed compatible, we'll not show that extension I think. We could instead still show such extensions but e.g. greyed-out with a hover message about it not being likely co

[2021-06-30 13:45] vince-fugnitto commented on #96
@marcdumais-work https://github.com/eclipse-theia/theia/issues/9676,

I believe the issue can be closed in `theia-blueprint` given the issue is now tracked upstream.

[2021-06-30 13:48] marcdumais-work commented on #96
One further step would be to add the means to let the user force installation even if an extension/version is potentially not compatible.

[2021-06-30 18:09] koegel commented on #96
Thanks for clarifying.

[2021-07-05 13:39] cdamus opened #117 "Copy/paste not working within folder in Explorer"
### Bug Description:

Copying and pasting files within a single folder does not work in the Explorer. Neither Cmd+C and Cmd+V, nor Opt+Drag of the mouse will create a copy of a file in the same folder.

### Steps to Reproduce:

1. Select a file in some folder (call it `src`) in the Explorer view.
2. Copy the file with Cmd+C.
3. Attempt to paste into the same folder `src` with Cmd+V.

Expected resu

[2021-07-05 13:46] cdamus opened #118 "Option+Drag in Explorer does not copy file but moves it"
### Bug Description:

Drag-and-drop with the Option key on macOS should copy an object into the drop destination, not move it. But in the Explorer view of the Theia Blueprint, files are only moved, never copied.

### Steps to Reproduce:

1. In a workspace with multiple folders containing files, select some file in some folder.
2. Press and hold the Option key, then drag the selected file into anot

[2021-07-09 08:33] jfaltermeier opened #120 "[Jenkins] "OutOfMemoryError: Java heap space" during stash"
### Bug Description:
At the moment the CI is unstable again. As far as I could see building the installers itself works fine.
However when we stash the results for further stages, Jenkins itself may fail.

Maybe we can reduce the amount of files to stash.

Example Logs:
[code]

[2021-07-09 13:18] #120 closed

[2021-07-14 13:18] JonasHelming opened #121 "Copy/Paste does not work in the terminal"
@lucas-koehler reported that Copy/Paste does not work for him in the Terminal. I just retested this, it works for me, so this is potentially related to some environment variables.

[2021-07-14 13:24] vince-fugnitto commented on #121
@JonasHelming it would be good if he can report with as much information as possible, including the operating system, and shell used.

[2021-07-14 13:28] lucas-koehler commented on #121
I use Ubuntu 20.04 with ZSH including [oh my ZSH](https://github.com/ohmyzsh/ohmyzsh)

[2021-07-14 13:32] lucas-koehler commented on #121
@vince-fugnitto  @JonasHelming Because it worked for Jonas I bruteforce tried it out again and I noticed that double right-clicking opens the context menu and then it showed me the shortcuts. I just didn't expect a double right-click to be necessary and the short cuts to be different.
Usually, its CTRL+SHIFT+C and CTRL+SHIFT+V for me but in the blueprint terminal it's just CTRL+C and CTRL+V.

[2021-07-14 14:04] JonasHelming commented on #121
@lucas-koehler Do you still consider this as a bug or shall we close this?

[2021-07-14 14:10] lucas-koehler commented on #121
@JonasHelming I would consider it a minor bug but I do not think it's worth investigating it because the different shortcuts could also be seen as a feature (consistent shortcuts in theia terminal independently of the native terminal).
The right click menu I would only investigate if there are more reports of this because it might be some strange interaction between ZSH and the theia terminal that

[2021-07-14 14:10] JonasHelming commented on #121
@lucas-koehler thanks!

[2021-07-14 14:10] #121 closed

[2021-07-14 14:11] JonasHelming opened #122 "Blueprint does not consider extension installation recommendations"
### Bug Description:
If a repository recommends extensions to be installed via extensions.json, Theia blueprint does not suggest to install them.

### Steps to Reproduce:

Checkout a repository with recommended extensions, e.g. https://github.com/eclipse-theia/theia
No recommendations are shown.
Should suggest eslint, see https://github.com/eclipse-theia/theia/blob/master/.vscode/extensions.json

[2021-07-14 14:12] vince-fugnitto commented on #121
I'll open an issue upstream about the double-right-click to open the context-menu which I can reproduce with vanilla theia.

[2021-07-14 14:13] JonasHelming commented on #121
@vince-fugnitto : Thank you!

[2021-07-14 14:14] vince-fugnitto commented on #122
@JonasHelming it should be available when bumping the theia version https://github.com/eclipse-theia/theia/pull/9043.

[2021-07-14 14:20] JonasHelming commented on #122
Great! Let us leave this open until then, I assigned a label to keep track

[2021-07-14 14:22] JonasHelming opened #123 "Eclipse key bindings are built in"
### Bug Description:
Blueprint comes with the Eclipse bindings built in. Therefore they cannot be uninstalled and may overlap with user defined bindings
We should either remove them or make them uninstallable.

### Steps to Reproduce:

Install VS Code bindings and press CTRL+D, it will delete the line instead of marking the text and finding the next occurence.

[2021-07-14 14:22] JonasHelming commented on #123
@lucas-koehler

[2021-07-14 14:25] vince-fugnitto commented on #123
@JonasHelming I believe it relates to https://github.com/eclipse-theia/theia-blueprint/issues/81?
We probably do not want to enforce extensions to end-users, but rather let them install them?

Ideally we would implement the mechanism in the framework to be able to disable extensions except `vscode-builtins-*` (https://github.com/eclipse-theia/theia/issues/7558).

[2021-07-15 08:56] JonasHelming commented on #123
Is there currently a way to pre-install an extension, but still letting the user deinstall it?

[2021-07-15 08:57] JonasHelming commented on #123
Also we might consider to install the VS Code keybindings by default

[2021-07-15 12:07] vince-fugnitto commented on #123
For builtins (bundled) extensions, there is no way to `uninstall` them as they are treated as part of the application.
The idea however would be to allow end-users the ability to `disable` them similarly to vscode.

There is no vscode keybinding extension, the framework uses the vscode keybindings by default.

[2021-07-15 13:15] JonasHelming commented on #123
Digging a little deeper, the issue seems rather that blueprint comes with a mixture between VS Code and Eclipse.
CTRL+D is bound twice, the Eclipse (delete line) wins
SHIFT+F12 and F3 show caller
F12 does nothing in blueprint, should got to definition
CTRL+. does nothing in blueprint, should open quick fix

[2021-07-16 10:43] JonasHelming commented on #123
@vince-fugnitto : Do you know where the default key bindings are defined? I want to have a look...

[2021-07-16 11:59] vince-fugnitto commented on #123
You'll need to look at the source code, or you can use the `keyboard shortcuts` view to view them (File > Settings > Open Keyboard Shortcuts).

[2021-07-21 19:37] marcdumais-work opened #125 "Need new GH workflow to build and publish new version of builder image "eclipse-theia/blueprint""
### Bug Description:

We use [this](https://hub.docker.com/r/eclipsetheia/theia-blueprint/tags?page=1&ordering=last_updated) docker image in our [Jenkins CI](https://github.com/eclipse-theia/theia-blueprint/blob/master/Jenkinsfile#L27) (eclipsetheia/theia-blueprint:latest). There was recently a need to [update that builder image](https://github.com/eclipse-theia/theia-blueprint/pull/114), to add d

[2021-07-21 19:38] marcdumais-work commented on #125
@thegecko can you refresh my memory about how you went about to be able to publish the existing version of the builder image?

[2021-07-21 20:05] marcdumais-work commented on #125
I found this bugzilla, that's related: https://bugs.eclipse.org/bugs/show_bug.cgi?id=571598 , and within this link to EF doc: https://wiki.eclipse.org/CBI#Docker_Hub

TL;DR: it seems that committers can provide webmaster with dockerhub ID to be added to the org and be able to push. I have registered a bugzilla: https://bugs.eclipse.org/bugs/show_bug.cgi?id=574953

[2021-07-22 09:53] thegecko commented on #125
@marcdumais-work , the image needs to be published here:

https://hub.docker.com/repository/docker/eclipsetheia/theia-blueprint

I can't see who has access to do that (beyond myself), so I believe your bugzilla ticket is the way to go.

[2021-07-22 18:52] marcdumais-work commented on #125
Hi @thegecko,

My bugzilla has not received an answer yet, but there's apparently a problem adding new members to the (free) docker hub organisation:
![image](https://user-images.githubusercontent.com/25749063/126692929-5b3d5ccf-495d-43f2-87f5-26b1f6961f38.png)

Would you be able to build and push the new version of the Dockerfile, this time?

[2021-07-22 20:14] marcdumais-work opened #127 "Update old dependency: Browserslist: caniuse-lite"
### Bug Description:

During the build, we get the following warning:

_Browserslist: caniuse-lite is outdated . Please run:
npx browserslist@latest --update-db
Why you should do it regularly:
https://github.com/browserslist/browserslist#browsers-data-updating_

It looks like this is an easy, desirable thing to do.

### Steps to Reproduce:

1. build blueprint
2. notice the warning above. e.g.:

![

[2021-07-22 20:25] marcdumais-work commented on #127
Note: I expect that the result of the provided update command should only be to update our `yarn.lock`, to pin a later version of `caniuse-lite`

[2021-07-23 14:47] marcdumais-work commented on #125
@thegecko: nevermind, I was added to the docker hub org. I guess I got lucky that there was an available spot :)

[2021-07-23 15:51] marcdumais-work commented on #125
Correction: Me being added to the org was an intermediary step. Webmaster went ahead with a more solid solution, replacing my user with a bot and configuring the bot's credentials on our GH repo so it's available to GH actions. I'll add a workflow that we can start manually to rebuild our `Dockerfile` and push it to Docker Hub.

[2021-07-23 15:56] marcdumais-work commented on #125
In the new workflow, the docker hub credentials should be accessible like so, and can then be used to logon:

          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

[2021-07-23 21:06] thegecko commented on #125
I have just pushed the latest image.

[2021-07-27 13:06] jfaltermeier commented on #116
Short update on the windows situation. Updating file size and hash in the metadata file is possible and then leads to the installer being downloaded and invoked. However we then hit a further bug: https://github.com/electron-userland/electron-builder/issues/4711

[2021-07-27 13:57] #125 closed

[2021-07-29 11:35] koegel commented on #118
Thanks for the detailed report! This is likely an issue in the Theia platform. @marcdumais-work Could you please kindly transfer the issue to Theia if you agree?

[2021-07-29 11:36] koegel commented on #117
Thanks for the detailed report! This is likely an issue in the Theia platform and is related to #118. @marcdumais-work Could you please kindly transfer the issue to Theia if you agree?

[2021-08-02 12:53] brianking commented on #116
@jfaltermeier Any updates about macOS?

For Windows, do you see any possible workarounds?

I presume we don't want to get out of beta (1.0?) without having updates fixed, right?

[2021-08-02 13:28] koegel commented on #123
I suggest to try to remove the Eclipse keybindings to get back to the default.

[2021-08-02 13:46] JonasHelming commented on #123
Yes, working on that!

[2021-08-02 14:00] jfaltermeier commented on #116
For Windows I have applied a manual fix at the moment, which then leads to a working update: https://download.eclipse.org/theia/latest/windows/
In PR https://github.com/eclipse-theia/theia-blueprint/pull/129 I am working on integrating this into the build process, so that no manual fixes are required. This already fixes the issue mentioned in https://github.com/eclipse-theia/theia-blueprint/issues

[2021-08-02 16:21] marcdumais-work opened #132 "New issue with Jenkins CI"
### Bug Description:
Our Jenkins CI is showing what I think are new issues, potentially related to EF infrastructure. This has been happening for at least a week or two on this WIP PR: https://github.com/eclipse-theia/theia-blueprint/pull/93 , and I think others too.

The most glaring problem seems to be that we fail the SSH host check for the Eclipse Foundation machine, that seemingly provides us

[2021-08-02 16:28] marcdumais-work commented on #132
Bugzilla open: https://bugs.eclipse.org/bugs/show_bug.cgi?id=575195

[2021-08-06 12:05] duncdrum opened #134 "generated gitignore is too strict"
### Bug Description:
When using this template the generated `.gitignore` contains
[code]
since the file is for user modifications, in combination with  `gen-webpack.config.js` it makes no sense to have it ignored  (while still being checked into the git tree) OOTB.

While it is easy for users to manualy unignore the file, it should be a simple fix to remove it from the `.gitignore` here and save e

[2021-08-06 14:30] marcdumais-work commented on #134
Hi @duncdrum

Currently, it seems that `webpack.config.js` is both ignored and not part of the git source tree. If we proceed with this change, I guess it would make sense to also check it in, correct? And I think also to commit any future changes, like we usually do for `yarn.lock`?

The following SO question/accepted answer seems to confirm that this config file should generally be checked-in:

[2021-08-06 14:42] vince-fugnitto commented on #134
I believe `webpack.config.js` should not be gitignored and included in the repository, the generated `gen-webpack.config.js` should be ignored however. It also follows the examples we have in the main repository:
- https://github.com/eclipse-theia/theia/blob/master/examples/browser/webpack.config.js
- https://github.com/eclipse-theia/theia/blob/master/examples/electron/webpack.config.js

[2021-08-06 14:44] marcdumais-work commented on #134
@duncdrum would you submit a PR to fix this?

[2021-08-06 15:39] duncdrum commented on #134
Will do

[2021-08-09 10:00] duncdrum opened #135 "node 14 support"
### Feature Description:

sticking with node `12` means that the blueprint is incompatible with theia version `1.15.0+`. To allign the two, the blueprint should support and require node `14`.

see https://github.com/theia-ide/dugite-extra/pull/49

this requires the fixes from #131 to be merged, and additional updates to:

- ci config
- dockerfile
- readme documentation
- dependency upgrades

[2021-08-09 10:22] duncdrum commented on #132
this also means that the readme's instructions for how to run tests locally are ineffective.

[2021-08-09 11:54] vince-fugnitto commented on #135
@duncdrum a couple of notes:

This is untrue, the framework currently supports node versions of `>=12.14.1 <13` when building:

- https://github.com/eclipse-theia/theia/blob/7e09e93a7a741137a9581125e8df39bcfeb05ee5/package.json#L7

When the framework supports node 14, then we can think about bumping the version for downstream applications such as blueprint.

In addition, `dugite-extra` is for our

[2021-08-09 12:01] duncdrum commented on #135
yes and theia `1.15.0` and `1.16.0` requires node version `14` or greater. So not sure what is untrue about what i said,  you can bump the dependencies and then run `yarn` to see the result

[2021-08-09 12:03] vince-fugnitto commented on #135
@duncdrum where did you get this information?
I linked `master` which states that `node: >=12.14.1 <13`, and also the framework's [prerequisites](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites)?

[2021-08-09 12:11] duncdrum commented on #135
@vince-fugnitto e.g. [here](https://github.com/eclipse-theia/theia-blueprint/blob/19a8f712199da234a351f655c8b6bf39308290cb/theia-extensions/theia-blueprint-product/package.json#L7) `1.14.0` is node 12, latest stable feature release as of today is `1.16.0` which requires node `14.` Note that the version does not imply a breaking changes between `0.14.0` and `0.16.0` where in fact the node `14` depe

[2021-08-09 12:14] vince-fugnitto commented on #135
@duncdrum I'm asking where do you see that `node 14` is required as of `1.15.0`, when its not supported by the framework itself?

[2021-08-09 13:04] duncdrum commented on #135
[code]

=> `error app-builder-lib@22.11.11: The engine "node" is incompatible with this module. Expected version ">=14.0.0". Got "12.22.1"`

[code]

=>
[code]

[2021-08-09 13:10] vince-fugnitto commented on #135
@duncdrum you'll need to use a node version that is supported by the framework, including dependencies such as `app-builder-lib`.

[2021-08-09 13:21] duncdrum commented on #135
my point exactly, not sure what we are arguing about, there is a number of open issues across multiple theia repos reporting incompatibilities between transient dependencies requiring minimum node `14` while other components specify max node `13`.

given that node `14` is the current LTS i d assume that is the version to shoot for? I also don't see why the blueprint should trail the current stable

[2021-08-09 13:51] vince-fugnitto commented on #135
I'm only trying to clarify and explain that previous statements regarding "theia 1.15.0 and 1.16.0 requires node version 14 or greater" is untrue given the project's defined [prerequisites](https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#prerequisites) which I referenced multiple times already. Even `master` CI uses 12:
- https://github.com/eclipse-theia/theia/blob/7e09e93a7a7

[2021-08-09 15:06] marcdumais-work commented on #132
@duncdrum I do not see an error, when running `yarn && yarn electron package:preview` locally. If you can reproduce on master, please open an issue. Maybe this was due to the pre-requisites not being clear (node 12, python 3)?

[2021-08-09 15:56] marcdumais-work commented on #132
The Jenkins CI ssh host check issue above has been resolved, with webmaster's help. I am currently re-running CI on my WIP PR (#93) and also PR #131 to see they now pass.

[2021-08-10 13:03] duncdrum commented on #132
i ll recheck, as i had other problems with webmaster, which are now resolved this might have been part of that. The original error was a failure to connect to `projects-storage.eclipse.org` via ssh. If users need to sign the ecma just to run the tests (i.e. before opening a PR) that could certainly figure more prominently in the readme here. I still have no idea why my system would be asked to est

[2021-08-10 15:51] marcdumais-work opened #138 "Signing should only be invoked when running Jenkins CI step, not when packaging locally"
### Bug Description:

Signing of the produced packages is meant to happen only as part of our Jenkins CI step, and relies on Eclipse Foundation infrastructure to successfully complete. ATM it also runs locally when building/packaging on a Mac.

It's triggered after Electron packaging, from `electron-builder.yml`:
https://github.com/eclipse-theia/theia-blueprint/blob/master/applications/electron/el

[2021-08-10 20:33] marcdumais-work commented on #69
Related PR, that will make it possible to package locally on Mac without signing getting in the way. Obviously, the package will then **not** be signed: https://github.com/eclipse-theia/theia-blueprint/pull/139

[2021-08-10 20:49] marcdumais-work commented on #132
Latest status: Mac packaging passes now. The one visible remaining issue is that the Windows executor is offline, and so the build waits for it until timeout, and fails. It seems to be a recurring issue - I re-opened the bugzilla about that executor being offline.

[2021-08-11 15:49] marcdumais-work commented on #132
Looks good - a recent PR now passes Jenkins CI:  https://ci.eclipse.org/theia/job/theia-example/job/PR-139/
We will need to merge something to confirm that the upload/signing/notarising works.

[2021-08-11 15:49] #132 closed

[2021-08-11 15:50] #138 closed

[2021-08-11 19:35] marcdumais-work commented on #132
CI passed on a recently merged PR: https://ci.eclipse.org/theia/job/theia-example/job/master/

[2021-08-12 15:26] marcdumais-work commented on #120
@jfaltermeier Something similar seems to intermittently happen with the "Create Mac Installer" step ultimately failing, after the installer is produced, apparently without issue.

I wonder how you obtained the logs above?

[2021-08-12 15:29] #134 closed

[2021-08-12 15:49] vince-fugnitto commented on #122
Closed thanks to #141.

[2021-08-12 15:49] #122 closed

[2021-08-13 07:14] JonasHelming commented on #122
@vince-fugnitto : Have you verified this in the Blueprint build or only upstream?

[2021-08-13 11:53] vince-fugnitto commented on #122
During the review, please feel feee to confirm as well: https://github.com/eclipse-theia/theia-blueprint/pull/141#pullrequestreview-728546106.

[2021-08-13 13:08] marcdumais-work commented on #122
I have not re-tested this, but I have confirmed that the new Blueprint installers, based on Theia v1.16.0, were correctly deployed. (linux: https://www.eclipse.org/downloads/download.php?file=/theia/latest/linux/TheiaBlueprint.AppImage&r=1)

[2021-08-13 14:31] #48 closed

[2021-08-13 14:34] marcdumais-work opened #144 "Remove Travis CI config"
### Bug Description:
We no longer use Travis CI, so we can safely remove the service's configuration file from the repo root: `.travis.yml`.

### Steps to Reproduce:
N/A

### Additional Information

- Operating System:
- Theia Version:

[2021-08-13 16:25] marcdumais-work commented on #144
Hi @Atharva321 ,

Yes. You will need to sign the Eclipse Foundation ECA for us to be able to accept your contribution. We'll help guide you on the PR if needed.

[2021-08-13 17:27] marcdumais-work commented on #39
Good news: with this recently merged PR (https://github.com/eclipse-theia/theia-blueprint/pull/131), we have achieved some package size reduction without sacrificing anything (just removing duplicated Electron biraries)

Linux Appimage previous size vs new:
![image](https://user-images.githubusercontent.com/25749063/129396496-36f9d064-2f47-40be-a535-0ebc765c8467.png)

The Mac package is now ~195MB

[2021-08-13 18:01] #144 closed

[2021-08-16 06:33] jfaltermeier commented on #120
@marcdumais-work I think I downloaded the full logs of the build from Jenkins and searched for exceptions/errors. Reason for this was, that no proper error appeared in the logs of the failed stage one Jenkins, so I though something must have gone wrong in an earlier stage.
Also I am not sure if exceptions thrown by Jenkins end up the logs of the pipeline stages or only in the full log.

[2021-08-16 15:16] marcdumais-work commented on #127
Hi @Atharva321,

Would you like to do a PR for this one? It should result in a mild `yarn.lock` change only.

[2021-08-16 17:21] Atharva321 commented on #127
Yes. But not able to understand the how issue will be fixed

need some time.
 what i understood is after the build command it is generating the warning .
And where to make change in yarn.lock?

Can you elaborate more?

[2021-08-16 18:17] marcdumais-work commented on #127
Hi @Atharva321 ,

I think you would need to build the repo (```yarn```) and then run the command from the description (```npx  [...]```). Then make sure the changes look ok (specially anything changed beyond `yarn.lock`), check-them-in and submit a PR

[2021-08-16 18:19] marcdumais-work commented on #127
The warning in the issue's description was something I noticed during the build - essentially our `browserslist` dependency is telling us that its own `caniuse-lite` dependency is outdated and we need to update it, then provides the command to do so.

[2021-08-17 11:59] vince-fugnitto commented on #123
@JonasHelming I believe you missed the test-case (which will fail the suite):

https://github.com/eclipse-theia/theia-blueprint/blob/d9def0d562707c79c5d88a17b14e4ee1a266c81a/applications/electron/test/app.spec.js#L129

[2021-08-17 14:02] #123 closed

[2021-08-17 15:26] marcdumais-work commented on #117
I have confirmed the issue. On my native file explorer (Nautilus on Ubuntu), copying and then pasting a file in the same folder creates a copy of that file, named as such.

I will transfer the issue to the main project's repo.

[2021-08-17 16:39] marcdumais-work opened #148 "Proposal: streamline Blueprint CI - only use Jenkins when needed, rely on GH workflow more"
### Feature Description:

At the moment, our Jenkins CI step runs:
- when we merge a PR on the `master` branch
- when a PR is created and then every time the PR branch is updated.

The former is necessary, so that Blueprint packages are created, signed/notarised (as appropriate for a given operating system) and uploaded to the EF download page. This essential activity is sometimes hindered by nume

[2021-08-17 17:26] Atharva321 commented on #127
got it now.

[2021-08-17 20:11] marcdumais-work commented on #148
cc: @vince-fugnitto @thegecko @JonasHelming

[2021-08-18 13:02] JonasHelming commented on #148
@koegel

[2021-08-18 18:30] #127 closed

[2021-08-18 21:53] koegel commented on #148
Good idea imho! Should we try to implement this? @jfaltermeier

[2021-08-19 14:51] marcdumais-work commented on #148
@koegel I have a PR ready: https://github.com/eclipse-theia/theia-blueprint/pull/143

[2021-08-19 14:56] koegel commented on #148
@jfaltermeier is out of office today, he can likely take a look tomorrow though.

[2021-08-20 14:59] #148 closed

[2021-08-30 10:34] #91 closed

[2021-08-30 10:34] #95 closed

[2021-09-02 14:40] #116 closed

[2021-09-03 07:42] jfaltermeier opened #160 "[Updater] Show download progress"
### Feature Description:
Currently downloading updates happens in the background and no progress is shown. As downloading might take some time users might get confused that nothing is happening (see https://github.com/eclipse-theia/theia-blueprint/issues/116#issuecomment-911775843)

So we should show some progress or download indication to the user.

[2021-09-03 07:45] jfaltermeier opened #161 "[Updater] Allow to inspect logs on error"
### Feature Description:
If an error happens during the update, we show a notification that the update failed.

We should also allow the user to inspect the logs here to understand what went wrong and/or to report bugs.

[2021-09-03 07:46] jfaltermeier commented on #116
Thanks! I've opened https://github.com/eclipse-theia/theia-blueprint/issues/160 and https://github.com/eclipse-theia/theia-blueprint/issues/161

[2021-09-03 15:22] #26 closed

[2021-09-03 15:22] #61 closed

[2021-09-03 18:41] Jeeppler commented on #96
Not seeing the extensions at all is strange. If the plugin is available in Open-VSX - but incompatible with my version of Theia - the plugin should be shown in the result list, but greyed-out and not installable.

[2021-09-21 09:23] jfaltermeier commented on #39
Since the electron binaries are only available once I think we may close this issue. If we find an area where we could improve disk size further, we may open a dedicated ticket for this.

At the moment the MacOS dmg is less than 200MB. When I copy it to the Application directory, it copies around 550MB.
The electron framework + preinstalled extensions take around 350MB of thise 550MB.
Those sizes

[2021-09-21 09:23] #39 closed

[2021-09-23 14:40] JonasHelming opened #163 "Establish a nightly build against Theia latest"
We recently discussed process improvements to better support adopters to upgrade to new Theia versions. One thing we decided on is to discovered potential breaks as early as possible so that we can either avoid them or update the migration guide. As Theia Blueprint adopts Theia, we discussed the idea of having a nightly build of Blueprint against the latest state of Theia (main branch). It would d

[2021-09-24 13:41] koegel commented on #163
Sounds like a good idea to me :), @jfaltermeier What do you think?

[2021-09-27 06:38] jfaltermeier commented on #163
Sounds good to me.
Building against master branch means depending on the next-versions of theia published to npm I guess?

[2021-10-12 07:28] Jeeppler commented on #97
Eclipse Theia 1.18 was released on the 30th September. With the release the API compatibility was increased from 1.50.0 to 1.53.0.
Sadly, the current AppImage of Eclipse Theia Blueprint is still based on version 1.17.2. I would really like to see a new Eclipse Theia Blueprint release based on Eclipse Theia 1.18.

[2021-10-12 07:50] Jeeppler opened #167 "Releases of Blueprint in lockstep with Eclipse Theia"
My expectation as a user and developer is, that once a new Eclipse Theia release is published the Theia Blueprint project will release a new release of Blueprint based on the latest Eclipse Theia version soon afterwards.

I see two major reasons:

1. As a user I want to try the newest version of Eclipse Theia
2. As a developer I need to test my plugins

Currently, Eclipse Theia is in version 1.18

[2021-10-17 18:42] AlexTalker commented on #75
I'd love to see docker support, recently I tried to make up package for `theia-full` from the apps repo but that try ended up in some bugs in the end and I wanted to check if docker image works alright but it just won't download and seems to not be supported anymore.
So I would really like example of some docker-based stuff that actually works based on `theia`.
Then I might bodge up example of how

[2021-11-02 14:53] marcdumais-work opened #172 "[EF] clean project download area"
### Feature Description:

The Foundation is asking that all projects clean-up their download area. For Theia, only Blueprint is up for download. I think we are being asked to remove intermediary versions that are no longer relevant.

Upstream issue:
https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/78

[2021-11-02 15:19] thegecko commented on #172
I have archived all ecd.theia downloads up to 2020, keeping just this year's point releases.

[2021-11-02 15:58] marcdumais-work commented on #172
Thanks @thegecko !

[2021-11-02 15:58] #172 closed

[2021-11-10 14:21] koegel commented on #70
This issue is a duplicate of  https://github.com/eclipse-theia/theia/issues/6497 and would be automatically be fixed once a new Theia version including the fix integrated into Blueprint.
@jfaltermeier Can you please close it.

[2021-11-10 14:52] marcdumais-work opened #174 "Update lerna"
### Bug Description:
When running `yarn audit` on this repo, 8 out of 11 dependencies with known "high" vulnerabilities, are pulled through `lerna`. We currently use a really old version: `2.11.0` and should update like we did in the main repo.

### Steps to Reproduce:

1. run `yarn audit --level high`
2. Look at how many of these are related to `lerna` (path). e.g.:
![image](https://user-images.g

[2021-11-10 14:58] vince-fugnitto commented on #174
@marcdumais-work it looks like **dependabot** at least picks them up, but does not display the `path` that lead to the dependency (no mention of lerna), so we still need to investigate a bit further:
- https://github.com/eclipse-theia/theia-blueprint/security/dependabot/yarn.lock/dot-prop/open

[2021-11-10 15:53] #174 closed

[2021-11-11 13:47] #70 closed

[2021-11-11 14:59] Jeeppler commented on #167
@marcdumais-work or @vince-fugnitto any updates or news on the topic?

[2021-11-11 15:27] marcdumais-work commented on #167
@Jeeppler Good news: CI is fixed as of yesterday. So there a re new packages based on Theia `1.19.0`: https://download.eclipse.org/theia/latest/

[2021-11-11 16:17] marcdumais-work opened #176 "Download links not immediately resolving to latest"
### Bug Description:
Links we use in a few places, to provide downloads from our project storage area, seem to lag behind for some time, serving an older version of the Blueprint installer(s). e.g.:

https://www.eclipse.org/downloads/download.php?file=/theia/latest/linux/TheiaBlueprint.AppImage&r=1

I am not sure if maybe caching on the server could be a reason why this happens.

Work-around: usin

[2021-11-11 16:18] Jeeppler commented on #167
@marcdumais-work perfect. Thank you.

[2021-11-11 16:19] Jeeppler commented on #167
And we even get a Debian package :-)

[2021-11-11 16:19] #167 closed

[2021-11-11 16:50] Jeeppler commented on #97
@marcdumais-work I think, this issue can be closed. Eclipse Theia Blueprint is now build against Eclipse Theia 1.19 with VSCode API version 1.53.2 compatibility.

[2021-11-11 17:03] #97 closed

[2021-11-12 08:35] jfaltermeier commented on #176
I believe that with the new links, we might lose download stats: https://wiki.eclipse.org/Project_Download_Stats
As far as I know the direct links bypass the mirror mechanism. I've downloaded some older files now using above links and will check whether stats were recorded.

[2021-11-12 15:24] #161 closed

[2021-11-14 23:36] koegel opened #177 "Rename Theia Blueprint product"
Currently we only have one Blueprint product to showcase Theia. This is about to change with CDT.cloud Blueprint and potentially Theia.cloud Blueprint. Therefore it would be good to give the current product a name, e.g. Theia WebDev Blueprint.
This would also mean that the current page at https://theia-ide.org/docs/blueprint_download needs to be slightly rephrased to talk about the "Theia Blueprin

[2021-11-14 23:38] koegel commented on #177
@marcdumais-work @JonasHelming @jfaltermeier @thegecko What do you think? Any suggestions for a name?

[2021-11-15 09:29] JonasHelming commented on #177
From my POV, the current products work together nicely:

Theia Blueprint
Theia.cloud Blueprint
CDT.cloud Blueprint

CDT.cloud Blueprint does not have Theia in the name and that is on purpose, because it is targeted at C/C++ adopters.
I also think it is reasonable, that  Theia Blueprint has a focus, e.g. web developers, we can mention this in the description.
I kind of like the fact that there is a

[2021-11-15 09:42] brianking commented on #177
I would argue against such fragmentation. Can we, wherever possible, just have the vanilla Blueprint optimized for as many use cases as possible and then provide documentation (e.g. what extensions to install, how to build, ...) for specific use cases?

The advantages of this would be at least 2-fold:

- lesser maintenance overhead
- shared branding and messaging around Theia Blueprint for a consi

[2021-11-16 16:21] JonasHelming commented on #177
We just discussed this and Brian, Marc, Thomas and me would prefer the current state:

Theia Blueprint
Theia.cloud Blueprint
CDT.cloud Blueprint

[2021-11-17 12:19] koegel commented on #177
OK, makes sense to me!

[2021-11-17 12:19] #177 closed

[2021-11-18 15:32] MatthewKhouzam opened #178 "AppImage does not show the icon in Linux"
### Bug Description: The appimage for blueprint does not show an Icon in the task bar in Linux.

### Steps to Reproduce:

1. Download Blueprint appimage
2. Launch it
3. See the icon in the taskbar

![image](https://user-images.githubusercontent.com/419535/142445568-69fe807b-5033-4fb0-944d-de04a454248c.png)

### Additional Information

- Operating System: Linux, (Ubuntu 18.04) DE: Gnome and Budgie,

[2021-11-19 11:37] brianking commented on #160
@jfaltermeier What version is this fix in? I don't see it in 1.17.2

[2021-11-19 11:54] brianking commented on #176
@jfaltermeier Did you discover whether download stats are preserved?

[2021-11-19 12:06] brianking opened #179 "Application Update not working in version 1.17.2 (1.17.2.16) on macOS"
When the application starts, or even when I use the menu item to start it, the application tells me that an update has been found. Nothing happens when I choose to install it.

### Steps to Reproduce:

1. File - Settings -> Check for updates...
2. Choose 'Yes' on the notification saying an update is available
3. Wait for update

Expected:
After the download I am notified to restart to install the

[2021-11-19 12:07] jfaltermeier commented on #176
Sorry, I've only commented here: https://github.com/eclipse-theia/theia-website/issues/236#issuecomment-969051600
No stats were recorded using the https://download.eclipse.org/theia/latest/ links

[2021-11-19 12:10] jfaltermeier commented on #160
It is part of 1.19.0

[2021-11-19 12:47] jfaltermeier commented on #179
Thanks for the report. Could you please check `~/Library/Logs/Theia Blueprint/main.log` for the logs?

With https://github.com/eclipse-theia/theia-blueprint/pull/165 we've been working in improving error reporting, however this is only available in 1.19

Afaik .dmg images may sometimes be readonly for security reasons, e.g. when they are started from the Downloads directory. When moved to the appl

[2021-11-19 12:58] brianking commented on #179
Note this is the logs from a few different requests I initiated, and a few different things seem to be happening:

[2021-11-19 11:31:59.562] [info] Checking for update
[2021-11-19 11:32:01.455] [info] Found version 1.19.0 (url: TheiaBlueprint-1.19.0-mac.zip, TheiaBlueprint.dmg)
[2021-11-19 11:32:27.183] [info] Downloading update from TheiaBlueprint-1.19.0-mac.zip, TheiaBlueprint.dmg
[2021-11-19 11

[2021-11-19 17:35] marcdumais-work commented on #179
The good news is that it seems the update was able to fetch the new package. Not sure what went wrong after. It's possible that there's an issue with `TheiaBlueprint-1.19.0-mac.zip`.

[2021-11-20 09:18] koegel commented on #178
Same here, thanks for reporting!

[2021-11-22 09:57] brianking commented on #179
Should I hold off on manually updating to try and debug this some more?

[2021-11-22 14:59] jfaltermeier commented on #178
Linux window icon will be added with https://github.com/eclipse-theia/theia-blueprint/pull/180

[2021-11-24 20:47] marcdumais-work commented on #179
Brian, I think it will not be necessary, but thanks. If it happens again, when updating from 1.19.0, I hope we'll get a clue from the improved error reporting.

[2021-11-25 15:04] brianking commented on #179
Ok I have manually installed Version 1.19.0 (1.19.0.8). I will test with the next update and see what happens. Closing this for now.

[2021-11-25 15:04] #179 closed

[2021-11-29 16:29] marcdumais-work opened #181 "Update to use Theia 1.20.0, run yarn upgrade"
### Feature Description:
Update Blueprint, to use Theia 1.20.0 and so benefit from the latest features and misc fixes. Also run `yarn upgrade`, to insure we use the latest possible dependencies, whenever we can.

[2021-11-30 16:16] #178 closed

[2021-12-01 16:31] #181 closed

[2021-12-07 10:52] ImperialPenguin opened #184 "Mac build crashes due to a missing library"
I've downloaded the repo, ran 'yarn', and then executed 'yarn electron package' as the instructions suggest. After a lengthy amount of time, the application is built. However, it does not run. It tries to open, but hangs for a long time and finally crashes with:

I'm using an iMac running Big Sur, and the Theia version is 1.20.0. It seems as though I have the wrong version of the Electron framewor

[2021-12-07 16:54] marcdumais-work commented on #184
@ImperialPenguin Sorry to hear and thanks for reporting the issue. I just restarted our Jenkins-based CI on the main branch, which should lead to new packages being built and published. I would appreciate if you could then download a fresh package and re-test.

Build number 27 here:
https://ci.eclipse.org/theia/job/theia-next/job/master/

[2021-12-07 16:58] marcdumais-work commented on #184
@brianking if you have a chance, please try to reproduce/confirm this issue

[2021-12-07 17:02] MatthewKhouzam opened #185 "Have a way to not show Blueprint welcome screen"
### Feature Description: Do not show welcome screen (Getting Started) again

When refreshing `ctrl`-`r` a workspace, the blueprint splash screen re-appears. It would be good to have a checkbox "don't show this again" on the splash screen.
It could be re-enabled somehow. (A command maybe?)

[2021-12-07 17:04] marcdumais-work commented on #184
@ImperialPenguin I see you get this problem when you build Blueprint yourself, and try to install the resulting `.dmg` file? Can you please also try our pre-built Mac package and report if the same problem is present with it? You'll probably need to right-click and select smt like "save link as":
https://download.eclipse.org/theia/latest/macos/

[2021-12-07 17:14] marcdumais-work commented on #184
@ImperialPenguin Just in case, I found an [article](https://newbedev.com/dyld-library-not-loaded-reason-no-suitable-image-found), about similar symptoms, caused by developer certificate settings on mac. Self-built Blueprint will not be signed/notarized, which may require some setup before working. OTOH, our pre-built Blueprintp Mac package (`.dmg`) is signed.

[2021-12-07 17:59] brianking commented on #185
Do you mean the spinner? I think this is necessary because the alternative is just having a blank screen for a noticeable period of time.

[2021-12-07 18:22] vince-fugnitto commented on #184
I just wanted to comment that I was able to successfully build and package the application on macOS following the steps highlighted:
- download or clone the repository
- `yarn`
- `(cd applications/electron && yarn package)`
- open the `.dmg` under `applications/electron/dist/`

Additional Info:
- macOS Catalina - v10.15.7

[2021-12-07 21:07] ImperialPenguin commented on #184
I have some updates, but still don't have it running. To answer your question, @marcdumais-work, it does run fine from the prepackaged DMG file. The problem is only when I build it myself.

I remembered that I had installed Electron a few months back to play around with and never did anything with it. So I had NPM uninstall it, deleted the node_modules directory and reran Yarn, thinking that maybe

[2021-12-07 21:12] ImperialPenguin commented on #184
When running yarn, there are a lot of unmet peer dependencies. Is that normal, or is it something I should be trying to resolve?

[2021-12-07 22:07] marcdumais-work commented on #184
@ImperialPenguin can you give an example printout? It may be normal to have some warnings.

[2021-12-07 22:09] marcdumais-work commented on #184
@ImperialPenguin  I think I found something. From the log you provided:
[code]

I think you'd need to disable that, to run a self-built, unsigned executable, See this article:
https://developer.apple.com/documentation/security/disabling_and_enabling_system_integrity_protection

[2021-12-07 22:15] marcdumais-work commented on #184
@vince-fugnitto Do you remember having to do that? (disabling system integrity protection)

[2021-12-07 22:15] ImperialPenguin commented on #184
Here are the unmet dependency messages:

If this latest build that's going does work, I might try the SIP thing. If that's a problem though, it's very unique to Node.JS or Electron. I build software daily using compiled languages without running into the issue. Even with downloaded and unsigned software, the system gives a specific error that it prevented it from running instead of letting it cras

[2021-12-07 22:18] ImperialPenguin commented on #184
It's finishing up the build process now, and spit out a ton of warnings. I don't know if they are a problem or not, but for the sake of being complete in the report, I'm including them below:

[2021-12-07 22:18] marcdumais-work commented on #184
@ImperialPenguin these warnings look "normal" - nothing to worry about I think.

I suggest you wait until @vince-fugnitto chimes-in - he's the one with a Mac in the team, he will probably know if this is necessary.

[2021-12-07 22:23] marcdumais-work commented on #184
@ImperialPenguin thanks for the updated trace. A bit messy, but I think all is ok.

[2021-12-07 23:55] ImperialPenguin commented on #184
I got it to work, but I'll let someone else decide whether this is an actual issue or it should be closed. It's a confusing situation and I don't know enough about Electron apps to know if it is normal.

If I run it from the unpackaged application in the Dist folder of the source distribution, I get the long error above. If I extract the zip file and run that, the permissions are set on the execut

[2021-12-08 13:54] vince-fugnitto commented on #184
@ImperialPenguin it is definitely excessive and should not happen, I was able to confirm that building, starting or packaging are all completed fairly quickly (a few minutes) and not nearly an hour (even CI is under 15 minutes and that is for packaging and so on which would take longer than locally):

<img width="246" alt="Screen Shot 2021-12-08 at 8 37 55 AM" src="https://user-images.githubuserco

[2021-12-15 15:58] marcdumais-work commented on #184
@ImperialPenguin If I were to guess, I think it's likely that some cached remnants of your previous experiments is left and interfering with your Blueprint experiments. While briefly researching for this issue I noticed a few times that there were suggestions to clean some system cache. Maybe this is something to look-into. See for example this article (1) I found. One cache that can throw curve-b

[2021-12-16 12:44] koegel commented on #185
@MatthewKhouzam I guess you refer to the "Getting started" view that shows up again?

![image](https://user-images.githubusercontent.com/1044916/146374329-ed23a01a-0942-4813-b7ef-958145f97f37.png)

[2021-12-16 13:52] MatthewKhouzam commented on #185
@koegel got it. The spinner is needed, but this `Getting Started` page comes back at every refresh. (ctrl-r) I was using an unstable plug-in... so it felt like an additional step that could be avoided.

[2021-12-20 11:01] jfaltermeier opened #187 "Investigate publishing Releases to Github and run Updates via Github Releases"
### Feature Description:
At the the moment we are publishing the built installers/packages to download.eclipse.org
Moreover we are using the main eclipse download server for updating older clients.

The downloads from the main eclipse download server may be slow depending on load of the server and location of the updater. As far as I could see there is no way to use the mirrors for fetching the up

[2021-12-20 13:05] eclipsewebmaster commented on #187
If there are no mirrors, some of your content could be excluded from mirrors by exclusion patterns. Using mirrors also provides download stats (via a somewhat primitive, but functional interface). What is the path to one of your releases?

If you want, I can help improve your experience on download.e.o.

[2021-12-20 13:53] jfaltermeier commented on #187
Thanks, so for the regular download page we are using the mirrors: https://theia-ide.org/docs/blueprint_download

The problem comes with electron-builders auto-update.

Let's take linux as an example (https://download.eclipse.org/theia/latest/linux/):

The publishing is configured like this:
[code]

When the application is checking for an update it take above url and looks for latest-linux.yml (->

[2021-12-20 15:00] eclipsewebmaster commented on #187
The URL you've mentioned (with &r=1) would automatically redirect to a mirror, it is geographically aware, and will record a download stat.  If the Theia updater supports 302 redirects, we should be good to go.  If the ? and & characters are a problem (they may need to be escaped in your .yml file), we can craft a more modern URL for automatic redirects. Something like:

https://download.eclipse.o

[2021-12-20 15:04] eclipsewebmaster commented on #187
You can also follow this: https://bugs.eclipse.org/bugs/show_bug.cgi?id=577590

tl;dr: I'm planning on making download.e.o much faster moving forward.

[2021-12-20 19:07] eclipsewebmaster commented on #187
Please let me know how we can help. Many thanks to @brianking for pointing us here.

[2021-12-21 14:49] marcdumais-work opened #189 "Update to Theia 1.21.0, perform yarn upgrade"
### Feature Description:
Update to the latest and greatest Theia, v1.21.0. Also perform the `yarn upgrade` to insure we use the latest dependencies, that fit the requested ranges.

[2021-12-22 15:47] #189 closed

[2022-01-01 14:31] dginhoux commented on #75
Because the last official docker image theia1.17 (and old releases tool) was removed from docker hub, i know a corruption problem on my local registry and not be able to pull theses old theia image.

I've found an alternative here : https://hub.docker.com/r/gitpod/openvscode-server

[2022-01-10 15:49] jfaltermeier opened #194 "Update yargs dev-dependency to latest version"
### Bug Description:
We are keeping the `yargs` devDependency back because of a compile issue in a script we are using (`update-checksum.ts`).
We should fix the script so that can update `yargs` again

See https://github.com/eclipse-theia/theia-blueprint/pull/192 as well for the commit that fixes the `yargs` version

[2022-01-12 10:12] inlann opened #196 "Can't open the packed theia-blueprint by double click on Linux"
### Bug Description:

Can not open the linux-unpacked version theia-blueprint(packed by running `yarn electron package`) via double click on Linux since its type is shared library.

### Steps to Reproduce:

1. cd <the path to the theia-blueprint>
2.run `yarn electron package`
3.cd <the path to the theia-blueprint>/applications/electron/dist/linux-unpacked/
4.double click the executable file: theia

[2022-01-12 10:12] inlann opened #197 "Can't open the packed theia-blueprint by double click on Linux"
### Bug Description:

Can not open the linux-unpacked version theia-blueprint(packed by running `yarn electron package`) via double click on Linux since its type is shared library.

### Steps to Reproduce:

1. cd <the path to the theia-blueprint>
2.run `yarn electron package`
3.cd <the path to the theia-blueprint>/applications/electron/dist/linux-unpacked/
4.double click the executable file: theia

[2022-01-12 12:15] jfaltermeier commented on #196
Hi, the unpacked version at `applications/electron/dist/linux-unpacked/theia-blueprint` may be started from a terminal with `./theia-blueprint`
This is bundled in the fully packaged version that may be double clicked. This is located at `applications/electron/dist/TheiaBlueprint.AppImage`

[2022-01-12 13:00] vince-fugnitto commented on #197
Duplicate of https://github.com/eclipse-theia/theia-blueprint/issues/196.

[2022-01-12 13:00] #197 closed

[2022-01-12 17:23] #185 closed

[2022-01-13 02:48] inlann commented on #196
Thanks for the response!

I want to add some files dynamically into the package using a shell script before I open it.

Is there any way to open the unpacked version via double click or can I add files into the AppImage version?

[2022-01-13 05:04] inlann commented on #196
I tested the win-unpacked version of theia-blueprint on Windows and the mac-unpacked version on MacOS. I could open them via double click. Only the linux-unpacked version has the `shared-library` property issue. 😢

[2022-01-13 15:50] marcdumais-work commented on #196
I could not find a nice way to do this. From a quick investigation, this seems to be related to a long-standing bug on Ubuntu, when "position-independent executables" are launched in Nautilus. See:
https://bugzilla.gnome.org/show_bug.cgi?id=737849#c2
Underlying bug: the `file` CLI utility on Ubuntu mis-identify such binaries as a shared library and so refuses to launch it :
https://bugs.launchpad.

[2022-01-13 19:46] JonasHelming commented on #75
Good news: The default container from the Theia app repo is published here by a contributor:
https://quay.io/repository/zowe-explorer/theia?tab=tags

[2022-01-17 08:00] inlann commented on #196
We find a way to bypass this issue: We generate a `theia-blueprint.desktop` and put it in `/home/xxx/Desktop` and `/usr/share/applications`:

[code]

Of course we need to modify `Exec` and `Icon` field to absolute paths. And then, we can double click this `theia-blueprint.desktop` file to open `linux-unpacked` version Theia-blueprint.

[2022-01-17 16:05] marcdumais-work commented on #196
@inlann thanks for sharing this work-around! So long as you can automate these things, it looks viable (it sounds like you did already).

I think such a work-around is the best we can hope-for in the short term, until the issue is fixed at the source (`file` CLI) and the fix propagated up the chain.

I will close the issue for now - please reopen if you disagree or if there is new information to c

[2022-01-17 16:05] #196 closed

[2022-01-26 17:12] planger opened #198 "Welcome page tab not marked as active when focused"
### Bug Description:

The welcome page tab with the label 'Getting started' is not marked as active (stronger contrast of tab label) when it is focus. This is inconsistent to the other views and editors.

### Steps to Reproduce:

![Peek 2022-01-26 18-10](https://user-images.githubusercontent.com/588090/151212189-7a2f042e-2e4c-4b24-9782-02694afdb566.gif)

1. Open welcome page
2. Click on tab and ob

[2022-01-27 21:13] xoriath opened #199 "[Updater] Error log from updater cannot be opened on Windows due to URI parsing"
### Bug Description:
#165 introduced the capability to inspect the update log on error. However, due to parsing the path as an URI, the open log action fails on Windows as there are no opener for the URI that is created from the path. The URI has scheme=c and path=path to log file.

### Steps to Reproduce:

1. Check for updates (for instance in a dev session without a correct update yml present)
2

[2022-01-28 14:53] koegel commented on #198
Confirmed! If it can be easily fixed, we should go for it, @jfaltermeier.

[2022-01-28 15:27] vince-fugnitto commented on #198
For anyone interested you'll need to pass [`activate: true`](https://eclipse-theia.github.io/theia/docs/next/interfaces/core.openviewarguments-2.html) when calling [`openView`](https://eclipse-theia.github.io/theia/docs/next/classes/core.abstractviewcontribution-2.html#openview) for the welcome page, and it will need to implement `onActivateRequest` where it chooses what element in the view should

[2022-01-30 23:05] koegel commented on #198
Thank you for the hint, this helps!

[2022-02-01 07:40] #72 closed

[2022-02-03 13:38] jfaltermeier opened #202 "electron-rebuild fails on Eclipse CI on the Windows Node"
Since the latest Theia upgrade and the switch to electron 15.3.6 we get build failures on the windows node:
See https://ci.eclipse.org/theia/job/Theia2/job/master/27/
The Github-Action build works however: https://github.com/eclipse-theia/theia-blueprint/runs/5042647096?check_suite_focus=true

<details>
  <summary>Full error log</summary>

[code]

</details>

I think those syntax errors seem like

[2022-02-03 13:39] jfaltermeier commented on #202
@vince-fugnitto @marcdumais-work Do you know whether some prerequisites have changed with the latest theia release? Maybe the Visual Code Version on the Build node is too old now?

[2022-02-03 13:55] vince-fugnitto commented on #202
@jfaltermeier I'm not aware of any prerequisites that were changed or updated in the electron upgrade (as you mentioned the github actions passed). I assume that the only difference between github actions and jenkins is that it needs to perform the signing, but from what you described it fails before that?

Not sure what this is referring to.

[2022-02-03 14:01] jfaltermeier commented on #202
Yes it is failing earlier at `theia electron:rebuild`.

With `Visual Code` I meant the Microsoft Visual Studio Version for C-related builds.
The log says it is using
[code]

[2022-02-03 17:02] vince-fugnitto commented on #202
It's odd since the same command passes successfully during CI for Windows on GitHub Actions:

- https://github.com/eclipse-theia/theia-blueprint/runs/5048114974?check_suite_focus=true#step:5:47

I do not believe this changed, however you might want to confirm that nothing on Jenkins was updated (I can't see how it is configured).
- https://github.com/nodejs/node-gyp#on-windows

[2022-02-04 10:16] jfaltermeier commented on #202
Some Updates: Github Actions are using VS2019
On the Eclipse Build Node we have VS2015 and VS2017 available atm. Switching to VS2017 seems to work:
https://github.com/eclipse-theia/theia-blueprint/pull/203
https://ci.eclipse.org/theia/job/Theia%20PRs/view/change-requests/job/PR-203/

The Linux fail is unrelated as I'm only chaning the windows bits of the Jenkinsfiles

[2022-02-04 12:52] #202 closed

[2022-02-08 09:31] Alnyli07 opened #204 "Electron start command gives error: Library not loaded on M1 Macbook"
### Bug Description:

I could not start electron app properly. Gives library not loaded error. on M1 Macbook Air

### Steps to Reproduce:

1. clone source code of theia-blueprint
2. run `yarn && yarn build` command
3. go to applications/electron folder then run `yarn start`

### Additional Information

- Operating System: macOS Monterey  version: 12.1
- Theia Version: 1.22.1

##### output of termi

[2022-02-11 11:11] cico643 opened #205 "IDE got stuck when the blueprint loading sign appears on windows"
### Bug Description:
IDE opens up the Getting Started page on the first start and then when I try to open a new folder, IDE got stuck on the blueprint logo loading sign stage. The issue only occurs on Windows.

### Steps to Reproduce:

1. Install theia-blueprint from scratch
2. Open IDE, Getting Started page appears on the first run.
3. Click on to the `File > Open Folder...` menu item
4. On the n

[2022-02-21 08:16] cico643 opened #206 "IDE runs very slow on Macbook Early 2015 with Intel Processor"
### Bug Description:
After the update on theia to 1.22.1 and Electron 15.3.5, IDE reacts very slow to any kind of action. (e.g. saving a document - refresh on git source control panel - file search). Though I have no issue on similar spec Linux/Windows computers.

### Additional Information

https://user-images.githubusercontent.com/59202975/154913490-89de86bf-e757-480d-930e-f63c2e9e26d1.mov

- Op

[2022-02-25 12:16] #198 closed

[2022-02-28 08:12] #199 closed

[2022-02-28 08:13] jfaltermeier commented on #199
Thank you for the report and the hint for the fix. The issue will be fixed with the next release

[2022-02-28 16:12] xoriath commented on #199
Thanks @jfaltermeier ! :)

[2022-03-01 08:03] jfaltermeier opened #208 "Eclipse CI build issues (Python version, Github rate-limit)"
Currently we have two issues on the Eclipse CI.

1. We need to update python in our build docker file

[code]

2. The second area is similar to: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/912
The electron binaries are downloaded from Github and we may hit this rate limit during the linux build.
We should investigate to set a different electron mirror that does not fetch the binaries f

[2022-03-01 09:46] jfaltermeier commented on #208
Regarding the github rate limits. It seems electron only offers a chinese mirror:
https://github.com/electron/electron#mirrors
https://www.electronjs.org/docs/latest/tutorial/installation#custom-mirrors-and-caches
So for now I would suggest to stick with github and retrigger the build an hour later in case we hit the limit.

[2022-03-01 10:28] #208 closed

[2022-03-01 20:48] colin-grant-work opened #210 "Publish test release for Theia's Monaco uplift"
### Feature Description:

@jfaltermeier, @JonasHelming, please publish a blueprint image (if possible) from the [Monaco uplift branch](https://github.com/eclipse-theia/theia/pull/10736) to facilitate testing (with [these steps](https://github.com/eclipse-theia/theia/wiki/LSP-and-Monaco-Integration#testing-a-monaco-uplift-drawn-from-7149)).

Many thanks!

[2022-03-03 08:27] jfaltermeier commented on #210
Hi, so Blueprint consumes Theia from npm. Would it be possible to publish the branch to npm with a special tag (e.g. next-monaco)? This would be the easiest way to get a custom blueprint build for this. Also it would allow to rebuild easily when there are changes.

Otherwise I had a look at adding Theia as a submodule to Blueprint and trying to build both, but this seems more complicated.
Locally

[2022-03-03 11:49] furkanarabaci commented on #206
Confirmed that I have the similar problem on Early 2016 MacBook Pro.

Theia blueprint works as intended and is reasonably fast on Apple Silicon(M1) Macbook.

[2022-03-03 14:59] colin-grant-work commented on #210
@paul-marechal, @vince-fugnitto, à propos the discussion in the dev meeting on Tuesday about getting a Blueprint image with which to test Monaco, would it be possible to publish specially tagged packages from that branch to NPM?

[2022-03-03 15:07] colin-grant-work commented on #210
@jfaltermeier, you mentioned submodules, but have you tried using local file dependencies rather than consuming from NPM? With a built version of the Monaco branch anywhere in your system, replacing @theia/* dependency versions with `file:<path to local>` should produce the same behavior as downloading an NPM package - `yarn` just copies the local files into node modules.

[2022-03-03 15:26] vince-fugnitto commented on #210
@jfaltermeier you don't need to consume from `npm`, you can use [local file paths](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#local-paths) instead like Colin said to reference the monaco build (ex: https://github.com/eclipse-theia/theia-blueprint/commit/4a2ebc9064804854994d6960605833d3c4efcae5).

The idea would be to:
1. clone `theia`, and checkout the monaco uplift branch
2. `yarn

[2022-03-04 09:45] jfaltermeier commented on #210
Thanks, I've prepared a branch with file paths here: https://github.com/eclipse-theia/theia-blueprint/tree/jf/monaco-lift

Unfortunately the build (`theia build`) fails when running webpack. I've also tried the development mode, but this leads to a similar error.

[code]

[2022-03-04 10:25] jfaltermeier commented on #205
Hi, thank you for the report. I've tried to reproduce the issue in Windows 10, but was unable to do so.
Does the problem still occur with version 1.23.0?

[2022-03-04 10:34] jfaltermeier commented on #204
Hi, thanks for the report. I've read through the linked PRs https://github.com/eclipse-theia/theia/pull/10734 and the ticket https://github.com/eclipse-theia/theia/issues/10728 on the main Theia repo.
Is it possible to build Blueprint with node 16 and the merged changes or is there anything we have to adjust in our build files here?

[2022-03-04 13:49] cico643 commented on #205
Hi @jfaltermeier, I can still reproduce on 1.23.0 with two different computers. Have you tried to reproduce the issue by removing and reinstalling your blueprint from scratch? Because it only occurs on the first run.

[2022-03-04 14:49] jfaltermeier commented on #205
Hi, yes I've just uninstalled and reinstalled but was unable to reproduce. Could you maybe start Blueprint from a command prompt and check whether there are error logs for you that might be related?

[code]

[2022-03-04 18:04] cico643 commented on #205
I got the following one.

[code]

[2022-03-07 08:30] jfaltermeier commented on #205
Thank you. It might be related to
[code]
There are similar reports in electron: https://github.com/electron/electron/issues/32317

Does this message also appear in later runs where the workspace does open?

[2022-03-07 20:51] colin-grant-work commented on #210
@jfaltermeier, thanks I'll look into it.

[2022-03-10 19:57] colin-grant-work commented on #210
@jfaltermeier, the error you posted suggests that the generated webpack configuration is still trying to resolve the old Monaco packages. The Monaco branch includes [changes to the webpack generator](https://github.com/eclipse-theia/theia/pull/10736/files#diff-b4677f3ff57d8b952eeefc10493ed3600d2737f9b5c9b0630b172472acb9c3a2). That's in `@theia/application-manager`, so a resolution needs to be adde

[2022-03-11 12:25] jfaltermeier commented on #210
@colin-grant-work Thanks, I've updated the branch accordingly. The results are currently published to: https://download.eclipse.org/theia/next-monaco/

Currently there is an issue that Theia is stuck on the preload animation, which might be related to the monaco-uplift branch.

[2022-03-28 13:12] ErikLundinSTM opened #212 "Update starts in background when Theia is closed even if user declined to update"
### Bug Description:
When the user has been asked whether to install a newly downloaded Theia update and the answer was *No*, the update is executed when the application is closed. This can be confusing to a user and should be considered a bug, especially since the updates runs in the background. Trying to start Theia during the update typically shows various error messages, since while the old ve

[2022-03-29 10:41] jfaltermeier commented on #212
Thanks for the report. We are using `electron-updater` for this functionality. We should probably adjust the wording to reflect what is actually going on, since the `electron-updater` will automatically install the update, after a successful download, when the application is closed.

My current suggestion would be
"The update was downloaded and will be installed when the application gets closed. D

[2022-03-29 12:50] ErikLundinSTM commented on #212
So we don't have the possibility to make electron-updater ask again and only when the user has explicitly accepted to install the update do it?

[2022-03-31 07:56] jfaltermeier commented on #212
It starts with the "Updates found, do you want to download the update? - No, Yes, Never" Popup.
When the user selects no it will ask again on the next start or when invoked via Menu Bar -> File -> Preferences -> Check for Updates
When the user selects yes the update will be performed. Since the update requires the restart, we open this second dialog asking whether the restart should happen now.
Ma

[2022-04-12 12:59] jfaltermeier commented on #135
With PR https://github.com/eclipse-theia/theia-blueprint/pull/211 the `node` requirement of `>=12.14.1 <13` was changed to `>=12.14.1`.
The electron version used (`"electron": "^15.5.1"`) uses `node 16.5.0 +`
So I think that we may close this. Please feel free to reopen if anything is missing

[2022-04-12 12:59] #135 closed

[2022-04-17 17:59] xmelfos opened #214 "Problem opening files from File Explorer"
### Bug Description:
Hello: I tried to open a php file from the file scan and opening the context menu to select with which application to open it. But selecting TheiaBluePrint only opens the editor but does not open the php file. I can only open it from the file menu of the TheiaBluePrint. I put together pictures to explain the problem.

### Steps to Reproduce:

1. Open File Exprorer
2. Select a

[2022-04-19 07:51] jfaltermeier commented on #214
Hi, thank you for the report. I can reproduce the issue.
After a first investigation I think the issue is that Theia tries to parse the opened file as a workspace-configuration-file, which leads to a warning similar to this: `root WARN Not a valid workspace file: /c:/Users/user/git/theia-blueprint/README.md`
Since the file is not a valid workspace file, parsing will fail, and it will open with an

[2022-04-22 10:15] #212 closed

[2022-05-05 16:46] koegel opened #217 "Cheatsheet Extension"
The cheatsheet view shows a step of linear steps that showcase what can be done in Theia Blueprint including buttons or links to directly execute these steps from the cheatsheet:
- Import Java example project
- Build Java project
- Debug Java project
- Import TS/JS example project
- Build TS/JS project
- Debug TS/JS project
The features should be packaged as extension that is part of Theia Bluepri

[2022-05-12 06:59] AlexandraBuzila commented on #206
This issue seems to be fixed with the latest version, containing the Theia 1.25.0 release. No performance issues were observed while testing.

[2022-05-12 19:59] koegel commented on #206
Thank you again for reporting this, @furkanarabaci and @cico643. Could you please kindly confirm if the problem is also resolved for you.

[2022-05-16 06:33] alimoncul opened #218 "Open Folder with preserve window option makes terminals stick to old path"
### Bug Description:
While preserve window option is true, opening a folder makes the terminals stick to old path.

### Steps to Reproduce:

1.Open a folder
2.Open a terminal
3.Open different folder
4.See terminal is pointing old folder path.

https://user-images.githubusercontent.com/15328038/168532818-1f6c3fdf-1184-4444-a28b-1c4d985b224c.mp4

- Operating System:
Win11 21H2
- Theia Version:
Eclip

[2022-05-16 07:49] jfaltermeier commented on #218
Thank you for the report, I can reproduce it on Linux as well. We will have a look

One addition to the Steps to Reproduce: When opening a folder the window layout for this folder is restored. In order to reproduce the issue, the folder we are switching to, should have had a terminal open before.

[2022-05-16 12:52] tsmaeder commented on #202
@jfaltermeier I just tried to rebuild Theia for electron from master as per instructions and that does not work anymore. Your tip of moving to vs 2017 build tools seems to work. Could you maybe update https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#building-on-windows with what you learned?

[2022-05-16 13:07] cico643 commented on #206
Confirmed that the issue is fixed with the new Theia&Electron versions, thanks for the help.

[2022-05-17 06:49] jfaltermeier commented on #202
Will do

[2022-06-27 14:54] praveen69sk opened #222 "Electron app shows empty window when exe installer is double clicked - For Theia version 1.20.0"
I'm trying to build a simple Hello-World electron application,

- it works fine when I launch it from from the terminal using 'yarn start' from electron-app package.json
- it fails when I create exe installer for windows and launch the app it shows empty window

**Environment:**

- Node v12.22.0
- npm@6.14.11
- Windows 10

package structure-
Hello-World-App
|-browser-app
|-electron-app
|-package.j

[2022-06-29 10:29] jfaltermeier commented on #222
Hi, without a reproducible project it is hard to help.
But I think `@theia/electron@1.20.0` depends on `electron ^9.0.2` while your electron-app package.json has `"electron": "15.3.5"` as a dependency. This could be a mismatch.
So maybe you could try using `9.4.4` in the electron-app package.json and in the `electron-builder.yml`

[2022-08-04 22:20] spidyhackx opened #228 "open dir error: No such file or directory"
### Bug Description: i tried running it using the this command ```./TheiaBlueprint.AppImage``` and i got this error

### Steps to Reproduce:

1. wget appImage file
2. chmod +x TheiaBlueprint.AppImage
3. ./TheiaBlueprint.AppImage

### Additional Information

- Operating System: parrotOS
- Theia Version: v0.0.1

[2022-08-06 12:32] 0rzech opened #229 "Theia Blueprint does not create `extensions` directory"
### Bug Description:

Unable to install plugins from Open-VSX. Most likely due to the fact, that Theia Blueprint does not create `.theia-blueprint/extensions` directory. After adding directory manually, the plugin installs fine, though with older version - `23.0.5` instead of `23.0.8` available [here](https://open-vsx.org/extension/AdaCore/ada/23.0.8) (is it because of #96)?

### Steps to Reproduc

[2022-08-06 14:21] vince-fugnitto commented on #229
@0rzech the issue has been fixed upstream in the framework but hasn’t made its way to blueprint yet (https://github.com/eclipse-theia/theia/issues/11485). The workaround as you’ve highlighted is to create the `extensions` folder first (this is usually necessary for new installations).

[2022-08-08 16:44] spidyhackx commented on #228
![image](https://user-images.githubusercontent.com/40536205/183468740-17bfca3d-145c-4452-a762-50c3a7421f2d.png)

hi, this is my os version, i tried running again but same issue

![image](https://user-images.githubusercontent.com/40536205/183469536-8b2d6085-2967-4b01-88ac-bdce189bc669.png)
![image](https://user-images.githubusercontent.com/40536205/183469582-aca43a84-ede8-428b-aacd-30beac9f3f03.png

[2022-08-22 06:47] frank-dspeed opened #230 "Consider renaming to algin more with other Open Source Projects to: theia-fiddle"
### Feature Description:
Consider renaming to algin more with other Open Source Projects to: theia-fiddle this would algin with electron fiddle the word fiddle gets often used for Playground and Template examples more often then blueprint

additional i would want to propose to maybe change to fiddle only and drop the theia in the repo name as it is already included in the org people that maintain

[2022-08-22 11:35] vince-fugnitto commented on #230
A rename of this repository is not planned, the example's product actual name is [theia-blueprint](https://theia-ide.org/docs/blueprint_documentation/).

[2022-09-02 07:44] jfaltermeier commented on #229
A new blueprint version was released containing the fix. Please reopen if there is still an issue with the new version.

[2022-09-02 07:44] #229 closed

[2022-09-02 07:51] jfaltermeier commented on #228
Unfortunately we don't have the resources to look into ParrotOS in more detail at the moment.
Do other AppImages work on your system? (E.g. https://appimage.org/#Demo from the official page) Maybe this is AppImage rather than Blueprint related

[2022-09-14 03:00] marol1210 opened #232 "git panel function can't work"
### Bug Description:

just click button `more action`  in git source panel , and  show error  `'git.tags' is not a menu group` in devTools console.

![image](https://user-images.githubusercontent.com/7519301/190048178-5bbd3905-c02c-4d51-b28c-2fb844e0b1a7.png)

### Steps to Reproduce:

1.  just click button `more action`  in git source panel , and  show error  `'git.tags' is not a menu group` in de

[2022-09-14 08:37] jfaltermeier commented on #232
Thank you for the report. I can reproduce the issue.
We will have a look.

[2022-10-21 14:57] kittaakos commented on #204
@Alnyli07, try to wipe the Theia CLI cache folder. It's under `$TMPDIR/theia-cli/cache/`.

It worked for me: https://github.com/eclipse-theia/theia/issues/10728#issuecomment-1287074497

[2022-10-22 08:41] tsmaeder opened #235 "Allow two installations of Blueprint"
### Feature Description:
The blueprint installer currently always removes any previous version it finds on the system, even when choosing an different installation directory (at least on Windows). This makes it impossible to have more than one version of Blueprint on the system. Beyond curiosity, there are real use cases for having multiple versions: trying out a new version before switching or ru

[2022-10-24 11:00] jfaltermeier commented on #235
Thank you for the report.
I think the electron-builder framework does not support this when using the the `nsis` installer.
However I guess we could offer a `portable` standalone app or a `zip`ped version for windows besides the installer.
https://www.electron.build/configuration/win
https://www.electron.build/configuration/nsis
https://www.electron.build/configuration/nsis#portable

[2022-11-04 15:08] marcdumais-work commented on #232
It looks like this issue was fixed in the update to [Theia 1.30.0](https://github.com/eclipse-theia/theia-blueprint/pull/234). Please re-open if necessary.

[2022-11-04 15:08] #232 closed

[2022-11-07 15:52] jfaltermeier commented on #218
The latest version of blueprint contains the upstream theia fix for this issue.
Please reopen if this is still reproducible with the latest version.

[2022-11-07 15:52] #218 closed

[2022-11-17 09:36] ouliuquan opened #240 "`Running E2E Tests` failed"
### Bug Description:
When I run the `Running E2E Tests` on Windows 11/Debian 10, it failed.

I did this because I wanted to clean up an older question https://github.com/webdriverio/webdriverio/issues/9198, which involved a reference to  `@wdio/sync` v6(first time added https://github.com/eclipse-theia/theia-blueprint/commit/2c87c40ef5dee96ad5d27b3ea146b80975a23694), which has been delete in the `

[2022-11-18 02:47] #240 closed

[2022-11-21 02:54] seltzered commented on #44
From my initial newbie look at theia-updater one may want to consider breaking out [the url/directory strings in theia-updater-impl.ts](https://github.com/eclipse-theia/theia-blueprint/blob/a126fae4ab6c6a45dfce45caed1e4ca4d8c8b2b3/theia-extensions/theia-blueprint-updater/src/electron-main/update/theia-updater-impl.ts#L81-L84) into something configurable.

[2022-11-22 20:56] koegel commented on #44
This would make sense and we would accept a PR, currently we have no plans to make the updater more generic, therefore we put it in the Backlog milestone some time ago.